
{% extends 'content-withguide.njk' %}
{% import 'components/guide.njk' as guide %}

{% block pagetitle %}
Warwick Summer Internships
{% endblock %}

{% block content_guide %}

<ol class="scs-contents-list__list">
  <li class="scs-contents-list__list-item scs-contents-list__list-item-active" aria-current="true">
    About the scheme
  </li>

  <li class="scs-contents-list__list-item" >
    <a href="/experience/warwick-summer-internships/warwick-summer-internships-p1.html" >Check if you qualify</a>
  </li>

  <li class="scs-contents-list__list-item" >
    <a href="/experience/warwick-summer-internships/warwick-summer-internships-p2.html" >Commitments and costs</a>
  </li>

  <li class="scs-contents-list__list-item">
        <a href="/experience/warwick-summer-internships/warwick-summer-internships-p3.html" >How to apply</a>
  </li>

  <li class="scs-contents-list__list-item">
        <a href="/experience/warwick-summer-internships/warwick-summer-internships-p4.html" >Programme process & schedule</a>
  </li>
  <li class="scs-contents-list__list-item">
        <a href="/experience/warwick-summer-internships/warwick-summer-internships-p1.html" >FAQ's</a>
  </li>

</ol>
{% endblock %}


{% block main_content %}


<h1 class="guide-page-title">Check if you qualify</h1>


<p>To participate in WSI, you must be able to answer <strong>Yes to ALL</strong> of the following criteria:</p>

<ul class="fa-ul">
  <li>I am a current undergraduate student (including integrated undergraduate Master's e.g. MMORSE, MPhys) of the University of Warwick until at least July 2019</li>
  <li>I am able to commit to the programme timeline and requirements</li>
  <li>If appointed, I am able to start WSI internship the week commencing 24 June 2019 (applicable to UK/EU students) or 1 July 2019 (applicable to international students on Tier 4 visas) with external employers, or 1 July 2019 with the University's internal academic and administrative departments</li>
  <li>I confirm that I am legally entitled to work full-time in the UK during the period June (UK/EU students) or July (international students), to September 2019, and that I can produce, if required, appropriate ID and/or a visa to demonstrate this.</li>
</ul>




<!-- next pagination -->

{{ guide.pagination_next({
  text: "Who can apply?",
  href: "work-experience-bursary-scheme-p2.html"
}) }}



{% endblock %}


{% block related_links %}

<ul>
  <li><a href="#">The Warwick Enhanced Summer Work Experience Bursary (WESWEB) 2019</a></li>

</ul>

{% endblock %}


{% block related_topics %}

<ul>
  <li><a href="/experience/topic_get-work-experience.html">Get work experience</a> </li>
</ul>

{% endblock %}
