<html lang="en-GB" class="js svgfilters flexbox no-safari no-ie-or-edge"><head>

<!-- <base href="https://warwick.ac.uk/services/careers2018/template-landpage/"> -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>landing page template</title>

<link rel="search" type="application/opensearchdescription+xml" title="Warwick Search" href="//search.warwick.ac.uk/static/search/osd.xml">




<link rel="apple-touch-icon" sizes="57x57" href="https://warwick.ac.uk/static_war/render/id7/images/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="https://warwick.ac.uk/static_war/render/id7/images/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="https://warwick.ac.uk/static_war/render/id7/images/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="https://warwick.ac.uk/static_war/render/id7/images/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="https://warwick.ac.uk/static_war/render/id7/images/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="https://warwick.ac.uk/static_war/render/id7/images/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="https://warwick.ac.uk/static_war/render/id7/images/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="https://warwick.ac.uk/static_war/render/id7/images/apple-touch-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="https://warwick.ac.uk/static_war/render/id7/images/apple-touch-icon-180x180.png">
<link rel="icon" type="image/png" href="https://warwick.ac.uk/static_war/render/id7/images/favicon-32x32.png" sizes="32x32">
<link rel="icon" type="image/png" href="https://warwick.ac.uk/static_war/render/id7/images/android-chrome-192x192.png" sizes="192x192">
<link rel="icon" type="image/png" href="https://warwick.ac.uk/static_war/render/id7/images/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="https://warwick.ac.uk/static_war/render/id7/images/favicon-16x16.png" sizes="16x16">
<meta name="msapplication-TileImage" content="https://warwick.ac.uk/static_war/render/id7/images/mstile-144x144.png">


<meta name="msapplication-TileColor" content="#5b3069">
<meta name="theme-color" content="#5b3069">


<link href="//fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://warwick.ac.uk/static_war/render/id7/css/pack7.css.256904500404" type="text/css">
<link rel="shortcut icon" type="image/x-icon" href="https://warwick.ac.uk/static_war/render/id7/images/favicon.ico">
<link rel="stylesheet" href="https://warwick.ac.uk/static_site/services/careers2018/site.css.157678291415" type="text/css">
<script type="text/javascript" src="https://warwick.ac.uk/static_war/render/scripts/id7scripts.js.125222169478"></script>

<!-- HTML5 shim for IE8 support of HTML5 elements -->

<!--[if lt IE 9]>
<script type="text/javascript" src="https://warwick.ac.uk/static_war/render/scripts/html5shiv-3.7.2.min.js.1525358396080"></script>
<![endif]-->

<link rel="alternate" type="application/rss+xml" title="Changes in /services/careers2018/ (RSS 2.0)" href="https://warwick.ac.uk/sitebuilder2/api/rss/siteChanges.rss?page=/services/careers2018">


</head>

<body class="in-services in-careers2018 in-template-landpage">

        <div class="id7-left-border"></div>
        <div class="id7-fixed-width-container">

            <a class="sr-only sr-only-focusable" href="#main">Skip to main content</a>

            <header class="id7-page-header">
                <div class="id7-utility-masthead">
                  <nav class="id7-utility-bar">
                      <ul>
                  <li id="toggle-text-only-link"><a accesskey="t" href="https://text.www2.warwick.ac.uk/services/careers/?external=true" rel="nofollow" class="ut">Text only</a> </li>
                  <li id="sign-in-link"><a href="https://websignon.warwick.ac.uk/origin/slogin?shire=https%3A%2F%2Fwww2.warwick.ac.uk%2Fsitebuilder2%2Fshire-read&amp;providerId=urn%3Awww2.warwick.ac.uk%3Asitebuilder2%3Aread%3Aservice&amp;target=https%3A%2F%2Fwarwick.ac.uk%2Fservices%2Fcareers" rel="nofollow" class="ut">Sign in</a> </li>
                      </ul>
                  </nav>
    <div class="id7-masthead">
    <div class="id7-masthead-contents">
        <div class="clearfix">
            <div class="id7-logo-column">

                    <div class="id7-logo-row">
                        <div class="id7-logo">
                            <a href="https://warwick.ac.uk" title="Warwick home page">
                                <img src="https://warwick.ac.uk/static_war/render/id7/images/shim.gif" alt="Warwick">
                            </a>
                        </div>

                                <nav class="id7-site-links">
                                    <ul>
                                        <li><a href="https://warwick.ac.uk/study">Study</a></li>
                                        <li><a href="https://warwick.ac.uk/research">Research</a></li>
                                        <li><a href="https://warwick.ac.uk/business">Business</a></li>
                                        <li><a href="https://warwick.ac.uk/alumni">Alumni</a></li>
                                        <li><a href="https://warwick.ac.uk/news">News</a></li>
                                        <li><a href="https://warwick.ac.uk/engagement">Engagement</a></li>
                                    </ul>
                                </nav>


                    </div>

            </div>
            <div class="id7-search-column">

                    <div class="id7-search">
                        <form action="//search.warwick.ac.uk/website" role="search">
                            <input type="hidden" name="source" value="https://warwick.ac.uk/services/careers2018/template-landpage/">
                            <div class="form-group">
                                <label class="sr-only" for="id7-search-box">Search</label>
                                <div class="id7-search-box-container">
                                    <span class="twitter-typeahead" style="position: relative; display: inline-block;"><input type="search" class="form-control input-lg tt-input" id="id7-search-box" name="q" placeholder="Search Warwick" data-suggest="go" autocomplete="off" spellcheck="false" dir="auto" style="position: relative; vertical-align: top;"><pre aria-hidden="true" style="position: absolute; visibility: hidden; white-space: pre; font-family: Lato, &quot;Helvetica Neue&quot;, Helvetica, Arial, sans-serif; font-size: 18px; font-style: normal; font-variant: common-ligatures; font-weight: 400; word-spacing: 0px; letter-spacing: 0px; text-indent: 0px; text-rendering: auto; text-transform: none;"></pre><div class="tt-menu" style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none;"><div class="tt-dataset tt-dataset-go"></div></div></span>
                                    <i class="fa fa-search fa-2x"></i>
                                </div>
                            </div>
                        </form>
                    </div>

            </div>
        </div>

        <div class="id7-header-text clearfix" style="height: 53.9931px;">
            <h1 class="headroom headroom--not-bottom headroom--pinned headroom--top affix-top">





                <span class="id7-current-site-link visible-xs-inline">
                    <a accesskey="1" title="Student Careers (test) home page [1]" href="/services/careers2018/">Careers (test)</a>
                </span><span class="id7-current-site-link hidden-xs">
                    <a accesskey="1" title="Student Careers (test) home page [1]" href="/services/careers2018/">Student Careers prototype 1.1</a>
                </span>
            </h1>
        </div>
    </div>
</div>

</div>


                <div class="id7-navigation headroom headroom--not-bottom headroom--pinned headroom--top affix-top">

                    <nav class="navbar navbar-primary hidden-xs" role="navigation">
                      <ul class="nav navbar-nav">
                        <li class="first protected recently-updated" data-lastmodified="1526310757595"> <a href="/services/careers2018/events/" data-page-url="/services/careers2018/events/"> Events Feed </a></li>
                        <li class="second protected recently-updated" data-lastmodified="1526310757595"> <a href="/services/careers2018/jobs-feed/" data-page-url="/services/careers2018/jobs-feed/"> jobs feed </a></li>
                      </ul>
                    </nav>
                </div>
                <div class="id7-navigation-marker" style="height: 34.0972px;"></div>
            </header>

            <main id="main" class="id7-main-content-area">
              <header>
                  <div class="id7-horizontal-divider">
                      <svg xmlns="http://www.w3.org/2000/svg" x="0" y="0" version="1.1" width="1130" height="41" viewBox="0, 0, 1130, 41">
                          <path d="m 0,0.5 1030.48, 0 22.8,40 16.96,-31.4 16.96,31.4 22.8,-40 20,0" class="divider" stroke="#383838" fill="none"></path>
                      </svg>
                  </div>
                  <div class="id7-page-title">
                      <h1>Homepage</h1>
                  </div>
              </header>
                  <div class="id7-main-content">
                  <div class="layout layout-100">
                      <div class="column-1"><div class="column-1-content">
