<nav class="navbar navbar-primary hidden-xs" role="navigation">
  <ul class="nav navbar-nav">
    <li class="first protected" >
      <a href="#" > item 1 </a>
    </li>
    <li> <a href="#" > item 2 </a>
    </li>
  </ul>
</nav>
