
{% extends 'topic.njk' %}
{% import 'components/button.njk' as buttons %}

{% block topic_title %}
Job search strategies
{% endblock %}

{% block main_content %}

<ul>
    <li>
      <a href="#" >
        <h3>Building your online profile</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
      </a>
    </li>

    <li>
      <a href="/job-searching/career-sector-events/fair-sector-events.html" >
        <h3>Careers fairs and sector events</h3>
        <p>Careers fairs, sector events and employer sessions offer a chance for recruiters to have a presence on campus, and enable you to hear more about their organisations and benefit from hints and tips on the recruitment and selection process.</p>
      </a>
    </li>

      <li>
        <a href="#" >
          <h3>Graduate recruitment cycle</h3>
          <p>consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>International jobs</h3>
          <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Job sectors</h3>
          <p>Are you interested in working in a particular industry? Find careers advice broken down by individual job sectors.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Networking</h3>
          <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Researching employers</h3>
          <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Vacancies on myAdvantage</h3>
          <p>Used by employers specifically looking to recruit Warwick students. All vacancies are screened by our advisers to ensure you get the best opportunities.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>What employers want</h3>
          <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Small and medium sized enterprises (SME’s)</h3>
          <p>Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>
        </a>
      </li>
  </ul>


{% endblock %}


{% block related_links %}

<ul>
  <li><a href="/applications/topic_job-applications.html">Job applications & CVs</a></li>
  <li><a href="/experience/topic_get-work-experience.html">Work experience</a></li>
</ul>
{% endblock %}

{% block topic_promo %}
<div class="scs-side-nav-promo boxstyle_ box1" />
    <h2>myAdvantage job vacancies</h2>

<p>Used by employers specifically looking to recruit Warwick students, all vacancies on myAdvantage are screened by our advisers to ensure you find the best opportunities.</p>

{{ buttons.basic({
  text: "Search",
  href: "https://myadvantage.warwick.ac.uk/students/appointments/",
  classes: "scs-button--booking"
}) }}


</div>

  {% endblock %}
