<footer class="id7-page-footer id7-footer-coloured"> <!-- one of id7-footer-coloured or id7-footer-divider -->

  <div class="id7-site-footer">















          <div class="row">
    <div class="col-sm-6">
      <div class="row">
        <h3 class="col-xs-12">Also on our site…</h3>

        <div class="col-sm-6">
          <ul class="list-unstyled">
            <li><a href="#">Information for personal putors</a>          </li>
            <li><a href="#">The Careers Blog</a>          </li>
            <li><a href="#">Careers Staff</a>          </li>
            <li><a href="#">Appointments</a>          </li>
            <li><a href="#">Work Experience</a>          </li>
            <li><a href="#">Vacancies <br>
            </a><a href="#">Skills development</a>          </li>
          </ul>

        </div>

        <div class="col-sm-6">
          <ul class="list-unstyled">
            <li><a href="#">Graduates</a>          </li>
            <li><a href="#">International students</a>          </li>
            <li><a href="#">Internships</a>          </li>
            <li><a href="#">Support</a>          </li>
            <li><a href="#">Interviews<br>
            </a><a href="#">Application advices</a>          </li>
          </ul>

        </div>

      </div>

    </div>

    <div class="col-sm-3">
      <h5>Contact us</h5>

      <p>Student Careers Service:</p>

      <p><span class="sr-only">Telephone</span><a href="tel:+442476524585">+44 (0)2476 524748</a>
      <a href="+44 (0)2476 524748"> </a> </p>

      University House, <br>
      University of Warwick<br>
      Coventry, CV4 8UW <br><br>

  <a href="https://fb.com/warwickuniversity"><i class="fa fa-fw fa-2x fa-facebook">&nbsp;</i></a> <a href="https://twitter.com/warwickuni"><i class="fa fa-fw fa-2x fa-twitter">&nbsp;</i></a> <a href="https://youtube.com/channel/UCCT15s8fKYcquEB1zJ8a50A"><i class="fa fa-fw fa-2x fa-youtube">&nbsp;</i></a>&nbsp;<a href="https://instagram.com/universityofwarwick"><i class="fa fa-fw fa-2x fa-instagram"></i></a>  </div>

    <div class="col-sm-3 map-column">
      <h5>About Student Careers</h5>

      <ul class="list-unstyled">
        <li><a href="/study/postgraduate/research/info/">Privacy</li>
        <li><a href="https://warwick.ac.uk/study/international">Diversity</a></li>
          <li><a href="https://warwick.ac.uk/study/international">Staff intranet</a></li>
          <li><a href="https://warwick.ac.uk/study/international">myAdvantage</a></li>
      </ul>


      </div>

  </div>


      </div>






      <div class="id7-app-footer">
        <!-- Only include the id7-logo-bleed for footer class="id7-footer-coloured" -->
        <div class="id7-logo-bleed"></div>

        <div class="id7-footer-utility">
          <ul>
            <li>Powered by <a href="http://warwick.ac.uk/sitebuilder">App name</a></li>
            <li><a href="http://warwick.ac.uk/copyright">© MMXV</a></li>
            <li><a href="http://warwick.ac.uk/terms">Terms</a></li>
            <li><a href="http://warwick.ac.uk/privacy">Privacy</a></li>
            <li><a href="http://warwick.ac.uk/cookies">Cookies</a></li>
            <li><a href="http://warwick.ac.uk/accessibility">Accessibility</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  <div class="id7-right-border"></div>
</body>
</html>
