<footer class="id7-page-footer id7-footer-coloured"> <!-- one of id7-footer-coloured or id7-footer-divider -->
      <div class="id7-site-footer">


        Your site footer content
      </div>
      <div class="id7-app-footer">
        <!-- Only include the id7-logo-bleed for footer class="id7-footer-coloured" -->
        <div class="id7-logo-bleed"></div>

        <div class="id7-footer-utility">
          <ul>
            <li>Powered by <a href="http://warwick.ac.uk/sitebuilder">App name</a></li>
            <li><a href="http://warwick.ac.uk/copyright">© MMXV</a></li>
            <li><a href="http://warwick.ac.uk/terms">Terms</a></li>
            <li><a href="http://warwick.ac.uk/privacy">Privacy</a></li>
            <li><a href="http://warwick.ac.uk/cookies">Cookies</a></li>
            <li><a href="http://warwick.ac.uk/accessibility">Accessibility</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  <div class="id7-right-border"></div>
</body>
</html>
