
{% extends './_layouts/components/content.njk' %}
{% import './_layouts/components/sub-components/button.njk' as buttons %}


{% block pagetitle %}
Application Forms
{% endblock %}

{% block main_content %}
j

<p>An application form is the way that employers will ask you to apply for the job. The </p>

{% endblock %}

{% block related_links %}

<ul>
  <li><a href="#">Ask online</a></li>
  <li>Careers workshops</li>
  <li>Job search</li>
</ul>

{% endblock %}


{% block related_topics %}

<ul>
  <li><a href="topic_advice-and-appointments.html">Advice and appointments</a> </li>
</ul>

{% endblock %}
