
{% extends './_layouts/components/content.njk' %}
{% import './_layouts/components/sub-components/button.njk' as buttons %}


{% block pagetitle %}
CV's
{% endblock %}

{% block main_content %}


<p>A CV, also known as a Resumé is a good way to put all of your skills, experience, and qualifications in one place.</p>
<p>We can check your CV at either a "drop-in" in the Oculus or via an <a href="#">appointment</a> with a Job Search Adviser.</p>

<div role="note" aria-label="Information" class="info-notice"><p>When completing an online application form, which many employers now use or a video interview A CV is invaluable because all your relevant information is in one place, even if the employer doesn't ask you for one.</p></div>

<h2>CV: Quick Start</h2>


<h2>Alternatives to a CV</h2>

{% endblock %}

{% block related_links %}

<ul>
  <li><a href="#">Ask online</a></li>
  <li>Careers workshops</li>
  <li>Job search</li>
</ul>

{% endblock %}


{% block related_topics %}

<ul>
  <li>Advice and appointments</li>
</ul>

{% endblock %}
