
{% extends './layouts/components/content.njk' %}

{% block pagetitle %}
Careers guidance appointments
{% endblock %}

{% block main_content %}

      <h2>Overview</h2>

      <p>Our careers consultants & careers project officers support students and graduates with more in depth discussions around career planning and career choices including: .</p>

<ul>
  <li>Building confidence and self-awareness</li>
  <li>Developing the skills graduate recruiters look for</li>
  <li>Advice and guidance on career options</li>
  <li>Preparing and applying for jobs, further study and work experience</li>
</ul>


{% endblock %}

{% block related_links %}

<ul>
  <li><a href="#">Ask online</a></li>
  <li>Careers workshops</li>
  <li>Job search</li>
</ul>

{% endblock %}


{% block related_topics %}

<ul>
  <li>Advice and appointments</li>
</ul>

{% endblock %}
