
{% extends './layouts/components/content.njk' %}

{% block pagetitle %}
Student Careers<br>
prototype kit
{% endblock %}

{% block main_content %}

<p>Currently i'm building out all the design components and templates. Once this is done
i'll move them to the <em>docs/style-guide</em> and use this area to create the actually website.</p>


{% endblock %}


{% block related_links %}

<ul>
  <li><a href="guidance-appointment">sample content page</a></li>
  <li>Careers workshops</li>
  <li>Job search</li>
</ul>
{% endblock %}
