
{% extends './_layouts/components/content.njk' %}

{% block pagetitle %}
Student Careers<br>
prototype 
{% endblock %}

{% block main_content %}

<p>My current thinking is to build out all the design components and templates using current website content.
 Once this is finalised, user tested and approved we can build a style guide<em>docs/style-guide</em> and create sample page in the docs folder.</p>


{% endblock %}


{% block related_links %}

<ul>
  <li><a href="guidance-appointment.html">Basic content page</a></li>
  <li>Topic page</li>
  <li>multi-part content page</li>
</ul>
{% endblock %}
