
{% extends './layouts/components/content.njk' %}

{% block pagetitle %}
Careers guidance appointments
{% endblock %}

{% block content %}


<div class="row ">
    <section class="col-sm-8 scs-content">

      <h2>What we offer</h2>

      <p>Our careers consultants & careers project officers support students and graduates with more in depth discussions around career planning and career choices including: .</p>
    </section>

    <aside class="col-sm-4">
        <div class="id7-docs-sidebar" role="complementary">
            <ul class="nav id7-docs-sidenav">
                <li><a href="#box-styles">Box styles</a></li>
                <li><a href="#layouts">Layouts</a></li>
                <li><a href="#tables">Tables</a></li>
                <li><a href="#wide-tables">Wide tables</a></li>
                <li><a href="#lists">Lists</a></li>
            </ul>
        </div>
    </aside>
</div>


{% endblock %}
