<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foundation for Sites</title>
    <link rel="stylesheet" href="/static-files/css/foundation.css">
    <link rel="stylesheet" href="/static-files/css/app.css">
  </head>
  <body>
    {% include './partials/header.njk' %}
    <h1>Prototyping warwick webpages</h1>
    {% block content %}
    {% endblock %}

    <script src="/static-files/js/vendor/jquery.js"></script>
    <script src="/static-files/js/vendor/what-input.js"></script>
    <script src="/static-files/js/vendor/foundation.js"></script>
    <script src="/static-files/js/app.js"></script>
  </body>
</html>
