
{% extends './_layouts/components/topic.njk' %}

{% block topic_title %}
Exploring your future options
{% endblock %}

{% block main_content %}


  <ul>
      <li>
        <a href="#" >
          <h3>Assessing skills</h3>
          <p>Skills Assessment</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Careers guidance appointments</h3>
          <p>Meet with a careers consultant for an in depth discussion to help you with career planning and career choices.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Careers workshops</h3>
          <p>We run a number of bookable workshops throughout the year.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Drop in careers advice</h3>
          <p>If you have any careers based queries or want help booking appointments, come along and talk to our staff.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Job search appointments</h3>
          <p>Our job search advisers can help with CVs, applications, searching for jobs, interviews and work experience.
</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Skills workshops</h3>
          <p>We run a number of bookable workshops throughout the year.</p>
        </a>
      </li>



  </ul>


{% endblock %}


{% block related_links %}

<ul>
  <li><a href="guidance-appointment">Basic content page</a></li>
  <li>Topic page</li>
  <li>multi-part content page</li>
</ul>
{% endblock %}
