
{% extends './_layouts/components/content.njk' %}

{% block pagetitle %}
Advice and Appointments
{% endblock %}

{% block main_content %}

<p>Build topic style page here ....</p>


{% endblock %}


{% block related_links %}

<ul>
  <li><a href="guidance-appointment">Basic content page</a></li>
  <li>Topic page</li>
  <li>multi-part content page</li>
</ul>
{% endblock %}
