
{% extends './_layouts/components/topic.njk' %}

{% block topic_title %}
CV's, applications and interviews
{% endblock %}

{% block main_content %}


  <ul>
      <li>
        <a href="#" >
          <h3>Application forms</h3>
          <p>Comleting an application form.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Assessment Centres</h3>
          <p>Find out what, why and how Assessment Centres work.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Cover letters</h3>
          <p>Find out what a cover letter is and how to use it to best advantage.</p>
        </a>
      </li>

      <li>
        <a href="cv.html" >
          <h3>CV or Resumé</h3>
          <p>What is a CV? Not sure why or where? This is the place to start.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Dealing with job offers</h3>
          <p>You have had a job offer?.... Great! Now what should I do?</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Psychometric and aptitude tests</h3>
          <p>Find out how and why employers use these and how to prepare for them.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3><em>'Strengths'</em> based recruitment</h3>
          <p>Find out how and why employers use these and how to prepare for them.</p>
        </a>
      </li>



  </ul>


{% endblock %}


{% block related_links %}

<ul>
  <li><a href="guidance-appointment">Basic content page</a></li>
  <li>Topic page</li>
  <li>multi-part content page</li>
</ul>
{% endblock %}
