
{% extends './_layouts/components/topic.njk' %}

{% block topic_title %}
Advice and Appointments
{% endblock %}

{% block main_content %}


  <ul>
      <li>
        <a href="#" class="browse-pane">
          <h5>Assessing your skills</h5>
          <p>Get to know your strengths and potential weaknesses to help you to explore your options.</p>
        </a>
      </li>

      <li>
        <a href="#" class="browse-pane">
          <h5>Career planning statements</h5>
          <p>Not sure where to start? Whether you haven't started planning yet, or you already have some ideas, try aligning yourself with one of our career planning statements to see what you could be doing now. .</p>
        </a>
      </li>

      <li>
        <a href="#" class="browse-pane">
          <h5>Determining your goals</h5>
          <p>Thinking about your long-term goals for the future can help you make decisions in the present.</p>
        </a>
      </li>

  </ul>



{% endblock %}


{% block related_links %}

<ul>
  <li><a href="guidance-appointment">Basic content page</a></li>
  <li>Topic page</li>
  <li>multi-part content page</li>
</ul>
{% endblock %}
