
{% extends './_layouts/components/content.njk' %}
{% set content_guide = "true" %}

{% block pagetitle %}
Work experience bursary scheme (WEB)
{% endblock %}

{% block content_guide %}

<ol class="scs-contents-list__list">
    <li class="scs-contents-list__list-item scs-contents-list__list-item--dashed scs-contents-list__list-item--active" aria-current="true">
      About the scheme
    </li>
    <li class="scs-contents-list__list-item scs-contents-list__list-item--dashed ">
          <a class="scs-c-contents-list__link " href="/employer-reporting-expenses-benefits/reporting-and-paying">How to apply</a>
        </li>
</ol>
{% endblock %}


{% block main_content %}


<h2>About the scheme</h2>

<p>The Warwick Work Experience Bursary is funded by the generous donations of Warwick alumni and friends and provides finacial support to students undertaking unpaid work experience and to help you maximise your career prospects as a result. Awards are made at £30 per day for up to 10 days per year.</p>


<h3>What type of work experience is supported by the bursary?</h3>

<p>The work experience <strong>must be</strong> self-sourced directly with the employer, and unpaid.</p>
<p>The work experience <strong>must not</strong> be:</p>

<ul>
<li>Paid</li>
<li>Part of your course requirements or an intercalated year</li>
<li>Work experience that you have already started or completed</li>
<li>A study/personal development opportunity or cultural exchange programme</li>
<li>A volunteering opportunity organised through Warwick Volunteers or any volunteering agency</li>
<li>Arranged via an internship or exchange agency involving an arrangement fee or you have paid/will pay a fee to the organisation itself.</li>
	</ul>


<h3>When should I apply?</h3>



<p>You must apply at least 1 week prior to the start of your work experience in order to receive a decision in time. Late applications will only be considered at the discretion of the Internships Development Manager. Applications submitted after the work experience has started, or been completed, will not be considered.</p>



{% endblock %}

{% block related_links %}

<ul>
  <li><a href="#">The Warwick Enhanced Summer Work Experience Bursary (WESWEB) 2019</a></li>

</ul>

{% endblock %}


{% block related_topics %}

<ul>
  <li><a href="topic_get-work-experience.html">Get work experience</a> </li>
</ul>

{% endblock %}
