{% extends './_layouts/components/topic.njk' %}

{% block topic_title %}
Work experience
{% endblock %}

{% block main_content %}
<ul>
    <li>
      <a href="https://myadvantage.warwick.ac.uk" >
        <h3>My Advantage</h3>
        <p>All the opportunities on <em>MyAdvantage</em></p>
      </a>
    </li>

    <li>
      <a href="#" >
        <h3>Campus opportunities</h3>
        <p>Find out about the wide range of opportunities available right here on campus</p>
      </a>
    </li>

    <li>
      <a href="#" >
        <h3>Finding work experience</h3>
        <p>Explore search strategies and find inspiration for gaining work experience</p>
      </a>
    </li>

    <li>
      <a href="#" >
        <h3>How work experience can help you</h3>
        <p>Examine why work experience contributes so much to a successful post-graduation outcome</p>
      </a>
    </li>

    <li>
      <a href="#" >
        <h3>Warwick summer internships</h3>
        <p>Warwick summer internships programme - helping you get valuable work experience, connecting you with employers</p>
      </a>
    </li>

    <li>
      <a href="#" >
        <h3>Using your work experience to stand out</h3>
        <p>Explore ways to use you work experience to demonstrate to employers how you can bring value and make a difference.</p>
      </a>
    </li>

    <li>
      <a href="#" >
        <h3>Unpaid work experience advice</h3>
        <p>Find out about issues and knowledge around this contentious subject.</p>
      </a>
    </li>

</ul>


{% endblock %}


{% block related_links %}

<ul>
  <li><a href="guidance-appointment">Basic content page</a></li>
  <li>Topic page</li>
  <li>multi-part content page</li>
</ul>
{% endblock %}
