
{% extends 'content-withguide.njk' %}
{% import 'components/guide.njk' as guide %}
{% import 'components/button.njk' as buttons %}


{% block pagetitle %}
How to write a CV
{% endblock %}

{% block content_guide %}

<ol class="scs-contents-list__list">
    <li class="scs-contents-list__list-item" aria-current="true">
      <a href="cv.html">Introduction</a>
    </li>

    <li class="scs-contents-list__list-item scs-contents-list__list-item-active" >
        Targeting your CV
    </li>

    <li class="scs-contents-list__list-item ">
      <a href="#" >
      Formatting your CV</a>
    </li>

    <li class="scs-contents-list__list-item  ">
      <a href="#" >
      The CARR model</a>
    </li>
    <li class="scs-contents-list__list-item ">
      <a href="#" >
      Education, Skills and work experience</a>
    </li>
    <li class="scs-contents-list__list-item">
      <a href="#" >
      Interests, references and contact information</a>
    </li>
</ol>
{% endblock %}


{% block main_content %}

<h2 class="guide-page-title">Formatting your CV</h2>

<p>There is no ‘perfect’ style or template but you need to format and present your CV as a
professional document.
</p>


<h3>Skills-based CV</h3>

<p>Can be useful for PhD students looking to enter professional employment beyond academia.
It can help PhD students communicate the value of the skills developed during their
research.</p>

<div role="note" aria-label="Information" class="info-notice">
<p>
  For most graduate jobs in the UK we would recommend that you
  adopt the more conventional, 'reverse chronological' style
 </p>
</div>

<p>A skills based CV can be effective if you have a lot of varied work experience. It can show
that you’ve thought about what the employer wants and tailored your CV accordingly.
However, if you lack concrete evidence of your skills, it can look insubstantial.</p>


<h3>Academic CV</h3>

<p>Typically used for a PhD student/graduate seeking an academic post. </p>

<div role="note" aria-label="Information" class="info-notice">
<p>
  Academic CVs
  can be longer than 2 pages as they will often include publications, conferences and
  papers.
 </p>
</div>

<ul>
<li>Principal sections are generally considered to be Research, Teaching, Publications,
Conferences, Administration.</li>
<li>Only include details about your first degree if it is relevant - otherwise just
summarise the dissertation.</li>
<li>List publications in reverse chronological order or under meaningful headings e.g.
'peer reviewed', 'in progress' etc.</li>
</ul>


<h3>Web-based recruitment</h3>
<ul>

<li>Remember, the employer may wish to print off your CV. Experiment to see whether
your CV looks presentable once it has been printed.</li>

<li>If your CV is accessible to the general public avoid writing your contact details. An
email address will be sufficient.</li>

<li>Many employers now choose to research potential applicants via the internet. Be
aware of this when creating content and addressing privacy settings for networks
such as Facebook and LinkedIn.</li>
</ul>

<h3><i class="fa fa-television" aria-hidden="true"></i> Watch</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/UjHUhyba1iU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


{% endblock %}



{% block related_links %}

<ul>
  <li><a href="#">CV examples</a></li>
  <li><a href="#">Cover letters</a></li>
  <li><a href="#">Assessment centres</a></li>

</ul>

{% endblock %}


{% block related_topics %}

<ul>
  <li><a href="/applications/topic_job-applications.html">Job applications and CVs</a></li>
</ul>

{% endblock %}
