
{% extends 'content-withguide.njk' %}
{% import 'components/guide.njk' as guide %}
{% import 'components/button.njk' as buttons %}


{% block pagetitle %}
How to write a CV
{% endblock %}

{% block content_guide %}

<ol class="scs-contents-list__list">
    <li class="scs-contents-list__list-item" aria-current="true">
      <a href="cv.html">Introduction</a>
    </li>

    <li class="scs-contents-list__list-item scs-contents-list__list-item-active" >
        Targeting your CV
    </li>

    <li class="scs-contents-list__list-item ">
      <a href="#" >
      Formatting your CV</a>
    </li>

    <li class="scs-contents-list__list-item  ">
      <a href="#" >
      The CARR model</a>
    </li>
    <li class="scs-contents-list__list-item ">
      <a href="#" >
      Education, Skills and work experience</a>
    </li>
    <li class="scs-contents-list__list-item">
      <a href="#" >
      Interests, references and contact information</a>
    </li>
</ol>
{% endblock %}


{% block main_content %}

<h1 class="guide-page-title">Targeting your CV</h1>


<p>Do your research about the
company/role BEFORE you write your
CV so you are clear what skills and
experience they are looking for you
to demonstrate
</p>

<div role="note" aria-label="Information" class="info-notice">
<p>
  Make sure you tailor your CV for each role you are applying for – there is no
  such thing as a generic CV.
 </p>
</div>

<h3>General tips</h3>
<ul>
  <li>Tailor your CV to the organisation.</li>
  <li>Prioritise the most relevant, important information.</li>
  <li>Make sure you tailor your CV for each role you are applying for. </li>
</ul>

<h3>How to tailor a CV to a vacancy</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/YvyCIuBmXII" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



{{ guide.pagination_previous({
  text: "Introduction",
  href: "cv.html"
}) }}

<!-- next pagination -->

{{ guide.pagination_next({
  text: "Formatting your CV",
  href: "cv-targeting.html"
}) }}


{% endblock %}



{% block related_links %}

<ul>
  <li><a href="#">CV examples</a></li>
  <li><a href="#">Cover letters</a></li>
  <li><a href="#">Assessment centres</a></li>

</ul>

{% endblock %}


{% block related_topics %}

<ul>
  <li><a href="/applications/topic_job-applications.html">Job applications and CVs</a></li>
</ul>

{% endblock %}
