



/* dividers */

.divider--thick {
  border-top: 2px solid $scs-colour-dark-blue;
}

.divider--thin {
  border-top: 1px solid $scs-colour-light-grey;
}

/* buttons */


.scs-button {
    text-decoration: none!important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.1875;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    margin-top: 010px;
    margin-bottom: 22px;
    padding: 7px 10px;
    border: 2px solid transparent;
    border-radius: 0;
    color: #fff!important;
    background-color: $scs-colour-dark-blue;
    -webkit-box-shadow: 0 2px 0 #003618;
    box-shadow: 0 2px 0 #003618;
    text-align: center;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;
      &:hover {
          background-color: $scs-colour-light-blue;
        }
      &:focus {
          background-color: $scs-colour-light-blue;
        }
}

.scs-button--booking {
    font-weight: 700;
    font-size: 22px;
    line-height: 1;
    min-height: auto;
    padding-top: 8px;
    padding-right: 40px;
    padding-bottom: 8px;
    padding-left: 15px;
    background-image: url('../images/icon-pointer.png');
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
