
// ID7 template over-rides

.id7-navigation .navbar-primary {
    background-color: #ef4050!important;
}

.id7-navigation .navbar-nav>li {
    position: relative;
    float: left;
    font-size: 16px!important;
    font-weight: 400;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    margin: 0!important;
    cursor: pointer!important;
    transition: background-color .15s linear,color .15s linear!important;
}

.id7-utility-masthead {
    background-color: #3e4146!important;
}

.id7-page-footer .id7-app-footer {
    background: #ef4050!important;
    color: white;
}

// SCS specific

.scs-content-row {

    margin-top: 30px;

    a {
      text-decoration: none;

      &:visited {
        color: #222;
        text-decoration: none;
      }

      &:link {
        color: #222;
        text-decoration: none;
      }

      &:visited  {
      color: #686868;
      }

      &:hover {
      color: #1167a8;
      }

    }
}

.scs-content {
  @include tablet {
    padding-left: 20px!important;
    padding-right: 25px!important;
  }
}

/* right nav boxes */
.divider--thick {
  border-top: 1px solid $scs-link-red;
}

.divider--thin {
  border-top: 1px solid $scs-divider-grey;
}

.scs-navigation-side-menu {
    padding: 20px 0px 10px 0px;

    a {
      font-size: 18px;
      font-weight: 500;
      color: #222;
      border-bottom: 1px solid #dcdcdc;
      text-decoration: none;
    }

    h2 {
      color: #404040;
      font-weight: 600;
      text-transform: none;
      font-size: 20px;
      line-height: 1.25;
      margin-bottom: 10px;
    }

    ul {
      list-style-type: none;
      padding-left: 0px;
    }
}
