
// ID7 template over-rides



.id7-navigation .navbar-primary {
    background-color: #197b96!important;
}

.id7-navigation .navbar-primary .navbar-nav>li:hover,.id7-navigation .navbar-primary .navbar-nav>li:focus {
    color: white;
    background-color: #146278!important;
}

.id7-navigation .navbar-nav>li {
    position: relative;
    float: left;
    font-size: 16px!important;
    font-weight: 400;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    margin: 0!important;
    cursor: pointer!important;
    transition: background-color .15s linear,color .15s linear!important;
}

.id7-utility-masthead {
    background-image: url("/static-files/images/masthead_1170x110_pg_business.jpg")!important;
}



.id7-page-footer .id7-app-footer {
    background: #197b96!important;
    color: white;
}

@include tablet {
  .id7-left-border {
      background-repeat: no-repeat;
      background-position: right top;
      background-image: url("/static-files/images/lhs_375x1200_pg_business.jpg")!important;
  }

  .id7-left-border {
      background-repeat: no-repeat;
      background-position: right top;
      background-image: url("/static-files/images/rhsborder-greyshafts.jpg")!important;
  }
}


.boxstyle_.box5, .boxstyle-xs.box5, .boxstyle-sm.box5, .boxstyle-md.box5, .boxstyle-lg.box5 {
    border: 0;
    background: #3f4246!important;
    color: white!important;

    li {
      color: white!important;
    }
}



/* right nav boxes */
.divider--thick {
  border-top: 2px solid $scs-colour-dark-blue;
}

.divider--thin {
  border-top: 1px solid $scs-colour-light-grey;
}
