

/* right hand promos  */

.scs-side-nav-promo {
  border: 0;
  padding: 20px;
  margin-top: 50px;
      ul.fa-ul {
        padding-left: 0;
        margin-left: 2.14285714em;
        list-style-type: none;
      }

      p {
          font-size: 16px;
      }
}

.highlighted-event-date >  h3 {

      font-size: 34px;

}
