
/* type */
$main-font-size: 16px;
$main-font-weight: 400;


/* colors */
$scs-colour-black: #0b0c0c;
$scs-colour-blue: #197B9A;
$scs-colour-dark-blue: #197b96;
$scs-colour-light-blue: #2b8cc4;
$scs-colour-light-grey: #bfc1c3;
$scs-colour-light-purple: #4c2c92;

/* responsive media queries */

$tablet-width: 641px;

@mixin tablet { // query for anything bigger than a tablet
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}
