/* typography */

.scs-content p {
  font-size: $main-font-size!important;
  line-height: 22px!important;
  font-weight: $main-font-weight!important;

  @include tablet {
    font-size: 18px!important;
    line-height: 20px!important;
  }
}


.scs-content h1 {
  margin-bottom: 30px!important;
  font-size: 32px!important;
  color: black!important;
  line-height: 36px!important;
  border-bottom: 0px solid #ababab!important;
  font-weight: $headings-font-weight;

  @include tablet {
    font-size: 48px!important;
    line-height: 50px!important;
  }

}

.scs-content h2 {
  margin-bottom: 25px!important;
  font-size: 18px!important;
  color: black!important;
  font-weight: $headings-font-weight;

  @include tablet {
      font-size: 27px!important;
      line-height: 1.25
  }

}

.scs-content ul {
  margin-bottom: 20px
}

.scs-content li {
  font-size: $main-font-size!important;
  line-height: 25px!important;
  margin-bottom: 11px;

  @include tablet {
        font-size: 18px!important;
        line-height: 1.25
  }
}


.scs-content .info-notice {
    border-left: 1em solid #dee0e2;
    padding: 1em 0 1em 1em;
    margin: 2em 0;
}
