// Primary colour palette   // Secondary colour palette
$id7-brand-purple: #5b3069; // hsl(285, 37%, 41%) originally #7b428e now hsl(285, 37%, 30%)
$id7-brand-gray: #3f4246;   // hsl(214, 5%, 26%)
$id7-brand-white: #ffffff;
$id7-brand-gold: #996b00; // #886c11;   // hsl(46, 78%, 44%) originally #c8a019 now hsl(46, 78%, 30%)
$id7-brand-orange: #be410c; //#a14418; // hsl(19, 89%, 54%) originally #f26322 now hsl(19, 74%, 36%)
$id7-brand-red: #89102c;    // hsl(346, 79%, 39%) originally #b4153a now hsl(346, 79%, 30%)
$id7-brand-green: #797906;  // hsl(60, 90%, 32%) originally #9a9a08 now hsl(60, 90%, 25%)
$id7-brand-blue: #204f79;   // hsl(208, 58%, 58%) originally #5698d2 now hsl(208, 58%, 30%)

$id7-brand-gold-bright: #ffc233;
$id7-brand-orange-bright: #f47920;
$id7-brand-red-bright: #ef4050;
$id7-brand-green-bright: #7ecbb6;
$id7-brand-blue-bright: #00b2dd;


// font over-rides
$main-font-size: 16px;
$main-font-weight: 400;
$headings-font-weight: 700;


// responsive media queries

$tablet-width: 641px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) {
    @content;
  }
}
