{% include '../partials/header.njk' %}

    <main class="id7-main-content-area" id="main">
      <header class="id7-main-content-header"></header>

      <div class="id7-main-content scs-content-row">

        <div class="row ">
            <section class="col-sm-8 scs-content">

                <h1> {% block pagetitle %}{% endblock %}</h1>

                <!-- conditonal block for content TOC -->
                {% if content_toc %}
                  <div class="scs-content-toc">
                  <h6>Contents</h6>
                    {% block content_toc %}
                    {% endblock %}
                  </div>
                {% endif %}

        {% block main_content %}
        {% endblock %}

  </section>


  <aside class="col-sm-4">
    <div class="scs-navigation-related">
      <h2>Related content</h2>

      {% block related_links %}
      {% endblock %}
    </div>

   <div class="scs-navigation-topics">
      <h3 class="sub-heading">Explore the topic</h3>
      {% block related_topics %}
      {% endblock %}
  </div>


  </aside>
</div>


      </div>
    </main>


{% include '../partials/footer.njk' %}
