
{% extends 'topic.njk' %}

{% block topic_title %}
Interviews
{% endblock %}

{% block main_content %}


  <ul>
    <li>
      <a href="#" >
        <h3>How to prepare</h3>
        <p>Tips and tricks to help you in your interview.</p>
      </a>
    </li>

      <li>
        <a href="#" >
          <h3>Interview tips</h3>
          <p>Tips and tricks to help you in your interview.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Interview Questions</h3>
          <p>Find out how to prepare for the type of interview questions you might get.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Psychometric and aptitude tests</h3>
          <p>Find out how and why employers use these and how to prepare for them.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Situational Judgement tests</h3>
          <p>Find out what these are and how to best prepare for and complete them.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Video Interviewing</h3>
          <p>What is a video interview and how to best prepare</p>
        </a>
      </li>




  </ul>


{% endblock %}


{% block related_links %}

<ul>
  <li><a href="/applications/topic_job-applications.html">Job applications & CVs</a></li>
  <li><a href="/experience/topic_get-work-experience.html">Work experience</a></li>
</ul>
{% endblock %}
