
{% extends 'content.njk' %}


{% block pagetitle %}
Finding your own work experience opportunities
{% endblock %}

{% block main_content %}


<p>Whilst we offer access to hundreds of vacancies <a href="#">on campus</a> and via <a href="#">myAdvantage</a>, you may also want to look elsewhere. Use the advice below to help you find the opportunity you are looking for.</p>

<h2>Your network</h2>

<p>The first thing to do is to look at your network of family, friends, colleagues, university tutors and previous employers to see what’s on offer. They may know of an opportunity or could at least give you the contact details for someone at the company.</p>


<h2>SMEs</h2>

<p>Small-to-medium sized enterprises (SMEs) are a great option when it comes to hidden opportunities. While big companies tend to advertise formal internship and work placement schemes, SMEs generally rely on word of mouth and speculative applications.</p>

<h2>Social Media</h2>

<p>You can use social media to keep up to date with what companies are doing and, in some cases, connect directly with employers. You also need to make sure you're conducting yourself professionally in public social media spaces.</p>

<div role="note" aria-label="Information" class="info-notice">
<p>The Warwick Careers Blog has a number of articles including <a href="https://careersblog.warwick.ac.uk/2014/04/24/speculate-to-accumulate-how-to-make-speculative-applications/">How to make speculative applications</a>, <a href="https://careersblog.warwick.ac.uk/2013/11/26/networking-tips-for-beginners/">networking tips for beginners</a> and <a href="https://careersblog.warwick.ac.uk/tag/sme/">working with SMEs</a> </p>
</div>


<h2>Speculative applications</h2>

<p>If the company that you are interested in has not advertised then you may consider applying speculatively to organisations that you find through researching sectors and employers.</p>

<ul>
  <li>Write to a named person</li>
  <li>Explain the reason for the contact</li>
  <li>Be clear about what kind of experience you are looking for and your availability, but show flexibility</li>
<li>  Explain why you are interested in the organisation, role or sector</li>
  <li>Show how you connect/fit in</li>
  <li>Show understanding of what skills and knowledge may be required and display these, giving examples from your education and/or previous experience</li>
  <li>Finish with a call to action - how, when and where can you be contacted, and how you intend to follow up</li>
</ul>


{% endblock %}

{% block related_links %}

<ul>
  <li><a href="#">International careers</a></li>
  <li><a href="#">Unpaid work</a></li>
  <li><a href="#">Volunteering overseas</a></li>
</ul>

{% endblock %}


{% block related_topics %}

<ul>
  <li><a href="topic_advice-and-appointments.html">Advice and appointments</a> </li>
</ul>

{% endblock %}

<!-- option external links block  -->
{% set externallinks = true %}
{% block external_links %}
<ul>
  <li><a href="https://www.prospects.ac.uk/graduate-jobs-results?sortBy=dp&advert_top=17184&size=20&page=0#results">Prospects</a> </li>
  <li><a href="https://www.gov.uk/jobsearch">Universal Jobmatch</a> </li>
  <li><a href="https://www.linkedin.com/jobs/">LinkedIn</a> </li>

</ul>
{% endblock %}
