
{% extends 'content.njk' %}


{% block pagetitle %}
How can work experience help me?
{% endblock %}

{% block main_content %}

<p>Having some experience of work before you leave university has many benefits, more than you might first think. Not only can it help you gain genuine examples and evidence to support future applications and interviews, it can also help you make important decisions about what you do and don’t enjoy and what career you want to pursue.</p>

<p>Anything that allows you to develop professional skills can be a form of work experience, so there are many different possibilities to suit different needs. </p>



<h2><i class="fa fa-television" aria-hidden="true"></i> Watch</h2>

<iframe width="560" height="315" src="https://www.youtube.com/embed/0lt2XLjJcjI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<div role="note" aria-label="Information" class="info-notice">
<p>View the <a href="https://www.youtube.com/playlist?list=PLC5ZVOnetS_x2Qx4twGzPO9yYclFsENFs">Careers &amp; Skills Work Experience Youtube playlist</a> for more video tips.</p>
</div>




{% endblock %}

{% block related_links %}

<ul>
  <li><a href="#">International careers</a></li>
  <li><a href="#">Finding your own work experience opportunities</a></li>
  <li><a href="#">Volunteering overseas</a></li>
</ul>

{% endblock %}


{% block related_topics %}

<ul>
  <li><a href="/experience/topic_get-work-experience.html">Work experience</a> </li>
</ul>

{% endblock %}

<!-- option external links block  -->
{% set externallinks = true %}
{% block external_links %}
<ul>
  <li><a href="https://www.gov.uk/employment-rights-for-interns">Employment rights and pay for internships</a> </li>
</ul>
{% endblock %}
