
{% extends 'content.njk' %}


{% block pagetitle %}
Part time and temporary work
{% endblock %}

{% block main_content %}

<p>Many students work part time at university and in
the holidays in a range of roles, commonly in hospitality, service and leisure
sectors</p>

<ul>
 <li>Involves CV
     preparation and interview</li>
 <li>Usually paid at
     least national minimum wage*</li>
 <li>Helps develop
     valuable employability skills such as communication, team building and
     time management skills.</li>
</ul>

<div role="note" aria-label="Information" class="info-notice">
  <p>* UK/EU undergraduate students
  are advised not to work in excess of 20 hours per week, International students
  on a Tier 4 visa are not legally allowed to work more than 20 hours per week in
  term time. All undergraduates may work full-time in vacation periods.</p>
</div>

<div role="note" aria-label="Information" class="info-notice">
  <p>** International student visa
  holders are not usually eligible to undertake a 12-month internship as a Voluntary
  Year Out for Work Experience within their degree, as this extends their studies
  beyond the agreed time limit on their visa.</p>
  <p>For more information on the regulations on working as an international student, <a href="https://www.ukcisa.org.uk/Information--Advice/Working/Can-you-work">check the UKCISA website</a>

</div>


{% endblock %}

{% block related_links %}

<ul>
  <li><a href="#">International careers</a></li>
  <li><a href="#">Unpaid work</a></li>
  <li><a href="#">Volunteering overseas</a></li>
</ul>

{% endblock %}


{% block related_topics %}

<ul>
  <li><a href="/experience/topic_get-work-experience.html">Work experience</a> </li>
</ul>

{% endblock %}

<!-- option external links block  -->
{% set externallinks = true %}
{% block external_links %}
<ul>
  <li><a href="https://www.prospects.ac.uk/graduate-jobs-results?sortBy=dp&advert_top=17184&size=20&page=0#results">Prospects</a> </li>
  <li><a href="https://www.gov.uk/jobsearch">Universal Jobmatch</a> </li>
  <li><a href="https://www.linkedin.com/jobs/">LinkedIn</a> </li>

</ul>
{% endblock %}
