
{% extends 'content.njk' %}


{% block pagetitle %}
Unpaid work
{% endblock %}

{% block main_content %}

<p>Some employers offer the chance to work without pay, for the opportunity to learn about their business and gain experience.These roles can be for short periods, a few days or a week or even up to a year.</p>

<p>The job roles vary, from minor positions e.g. making tea, shadowing a colleague, being the team's “dogsbody”, to roles with responsibility and an expected level of performance.</p>

<div role="note" aria-label="Information" class="info-notice">
<p>  If you self-source an unpaid short term work experience opportunity you can apply for the <a href="#">Warwick Work Experience Bursar</a>y for partial financial support.</p>
</div>

<p>Employers offer these roles for a number of reasons, from charities who rely on volunteers to do everything from administration to “front-line” work, to large profit-making organisations that know they can advertise a year-long internship without pay and still expect excellent candidates to apply.</p>

<p>These roles are seen as a great opportunity, but there is growing concern with the large number of organisations offering unpaid jobs.</p>


<h2>So where does Warwick stand on this?</h2>


<p>The University of Warwick believes that it is wrong to expect work to be carried out without offering payment unless it is a genuine volunteering opportunity by a charity or not-for-profit organisation. This view is supported by the National Union of Students and online pressure groups e.g. Intern Aware.</p>


<div role="note" aria-label="Information" class="info-notice">

  <p>
    This is our <a href="#">advertising policy </a>relating to vacancies posted by organisations on my advantage. Please note specifically in this context:-
  </p>
  <p>2 (d) <strong>We will NOT advertise</strong> the following:</p>

  <p>In relation to work experience, placements and internships: unpaid work unless it meets the conditions for exemption from NMW requirements for volunteers.</p>

</div>


<h2>So what’s the problem with working for free?</h2>

<p>There’s a <strong>legal issue:</strong></p>

<ul>
  <li>For-profit businesses that don’t pay their workers the National Minimum Wage are breaking the law.
  </li>
</ul>

<p>…and two <strong>ethical issues:</strong></p>


<ul>
  <li>Should businesses be taking advantage that the supply of applicants for internships and other jobs outweighs demand? What about Corporate Social Responsibility?
  </li>
  <li>Some people can afford to work without pay. What about people who can’t afford to support themselves without a paid job – shouldn’t they have access to the same opportunities?</li>
</ul>








{% endblock %}

{% block related_links %}

<ul>
  <li><a href="#">International careers</a></li>
  <li><a href="#">Finding your own work experience opportunities</a></li>
  <li><a href="#">Volunteering overseas</a></li>
</ul>

{% endblock %}


{% block related_topics %}

<ul>
  <li><a href="topic_advice-and-appointments.html">Advice and appointments</a> </li>
</ul>

{% endblock %}

<!-- option external links block  -->
{% set externallinks = true %}
{% block external_links %}
<ul>
  <li><a href="https://www.gov.uk/employment-rights-for-interns">Employment rights and pay for internships</a> </li>
</ul>
{% endblock %}
