
{% extends 'content.njk' %}


{% block pagetitle %}
Internships
{% endblock %}

{% block main_content %}


<p>An internship is a structured, pre-defined period of
work, with agreed goals and objectives, which sits outside of your studies. It
will meet your career development needs by providing relevant professional
experience, and will align with the organisations business needs.</p>

<ul>
  <li>Often taken during your summer vacation, lasting
up to 3 months; also possible as a graduate opportunity.</li>
<li>Involves graduate
     level recruitment processes and employment status</li>
     <li>Usually paid at
     least minimum wage, may be unpaid in certain sectors</li>
     <li>Helps develop
     commercial awareness, sector specific knowledge and wide range of
     employability skills</li>
     <li>Find out more from, Student Careers and Skills, your academic department or MyAdvantage.</li>
</ul>


<div role="note" aria-label="Information" class="info-notice">
  <p>The <a href="#">Warwick summer internships (WSI) </a>  has 120+ paid 6+ week experiences, exclusively for Warwick undergraduate students, with small and medium-sized enterprises (SMEs), charities and internal departments of the University
  </p>
</div>



{% endblock %}

{% block related_links %}

<ul>
  <li><a href="#">International careers</a></li>
  <li><a href="#">Unpaid work</a></li>
  <li><a href="#">Volunteering overseas</a></li>
</ul>

{% endblock %}


{% block related_topics %}

<ul>
  <li><a href="/experience/topic_get-work-experience.html">Work experience</a> </li>
</ul>

{% endblock %}

<!-- option external links block  -->
{% set externallinks = true %}
{% block external_links %}
<ul>
  <li><a href="https://www.prospects.ac.uk/graduate-jobs-results?sortBy=dp&advert_top=17184&size=20&page=0#results">Prospects</a> </li>
  <li><a href="https://www.gov.uk/jobsearch">Universal Jobmatch</a> </li>
  <li><a href="https://www.linkedin.com/jobs/">LinkedIn</a> </li>

</ul>
{% endblock %}
