<div class="scs-side-nav-promo " />
    <h2>Help and advice</h2>

<p>You can book a <a href="#">guidance appointment</a> with one of our advisors to discuss your options and get help and support with your career planning.</p>

<p>Our helpdesk can also help with general enquires and changing or cancelling bookings</p>

   <h3><i class="fa fa-envelope fa-fw"></i><span class="sr-only">Email</span> <span class="scs-helpdesk"><a href="mailto:careers@warwick.ac.uk">careers@warwick.ac.uk</a></span></h3>
   <h3><i class="fa fa-phone fa-fw"></i><span class="sr-only">Phone</span> +44 (0)24 7652 3011</h3>
</div>
