
<html>

<head>
<link href="/services/careers2018/static-files/css/custom.css" rel="stylesheet" type="text/css">

<script>
jQuery( document ).ready(function($) {
    var h1_text = $(".id7-page-title > h1").text().trim();
    $("h2.topic-title").replaceWith("<h1>" + h1_text +  "</h1>");
});
</script>

</head>

<body>




<div class="row scs-content-pad-top-30">
  <div class="col-sm-1"> </div>

  <div class="col-sm-7 ">
    <div class="topic-header">
      <h3>Topic</h3>

      <h2 class="topic-title"> Job applications and CVs </h2>

    </div>

  </div>

</div>

<div class="row scs-content-pad-top-20">
  <section class="col-sm-1">
    <h5 class="scs-topic-atoz">AtoZ</h5>

  </section>
  <section class="col-sm-7 ">
    <div class="scs-section-pane">
      <div class="scs-pane-inner">
        <ul>
          <li> <a href="#">
            <h3>Application forms</h3>

            <p>Comleting an application form.</p>

</a> </li>
          <li> <a href="#">
            <h3>Assessment centres</h3>

            <p>Find out what, why and how Assessment Centres work.</p>

</a> </li>
          <li> <a href="#">
            <h3>Cover letters</h3>

            <p>Find out what a cover letter is and how to use it to best advantage.</p>

</a> </li>
          <li> <a>
            <h3>CV examples</h3>

            <p>What is a CV? Not sure why or where? This is the place to start.</p>

</a> </li>
          <li> <a href="#">
            <h3>Dealing with job offers</h3>

            <p>You have had a job offer?.... Great! Now what should I do?</p>

</a> </li>
          <li> <a href="./how-to-write-a-cv/introduction">
            <h3>How to write a CV</h3>

            <p>What is a CV? Not sure why or where? This is the place to start.</p>

</a> </li>
          <li> <a href="#">
            <h3><em>'Strengths'</em> based recruitment</h3>

            <p>Find out how and why employers use these and how to prepare for them.</p>

</a> </li>
          <li> <a href="#">
            <h3>Situational Judgement tests</h3>

            <p>Find out what these are and how to best prepare for and complete them.</p>

</a> </li>
        </ul>

      </div>

    </div>

  </section>
  <aside class="col-sm-4">
    <div class="scs-navigation-side-menu divider--thick">
      <h2>Related Topics</h2>

      <ul>
        <li><a href="/interviews/topic_interviews.html">Interviews</a> </li>
        <li><a href="/job-searching/topic_job-searching.html">Job searching</a> </li>
      </ul>

      <div class="divider--thin"> </div>

      <!-- helpdesk widget puled in from: -->
      <!-- /partials/righthand-promo-widgets/help-desk -->


    </div>

  </aside>
</div>

</body>
</html>
