<html>

<head>
<link href="/services/careers2018/static-files/css/custom.css" rel="stylesheet" type="text/css">
<script src="/services/careers2018/static-files/js/partials.js"> </script>

<script>
/* loads partial HTML file from central location for use with frequently repeated and updated content

1. include partials.js
2. call Partial.getPromo(path) which correct path to you HTML partial
3. make sure you have div with id = "promo-container" inside div.scs-navigation-side-menu-topic
4. comment out line below if you wish to include your own page promo or know at all
*/

Partials.getPromo("/partials/righthand-promo-widgets/help-desk");



jQuery( document ).ready(function($) {
    var h1_text = $(".id7-page-title > h1").text().trim();
    $("h2.topic-title").replaceWith("<h1>" + h1_text +  "</h1>");
});

</script>


</head>

<body>

<div class="row scs-content-pad-top-30">
  <div class="col-sm-1"> </div>

  <div class="col-sm-7 ">
    <div class="topic-header">
      <h3>Topic</h3>

      <h2 class="topic-title"> Get work experience </h2>

    </div>

  </div>

</div>

<div class="row scs-content-pad-top-20">
  <section class="col-sm-1">
    <h5 class="scs-topic-atoz">AtoZ</h5>

  </section>
  <section class="col-sm-7 ">
    <div class="scs-section-pane">
      <div class="scs-pane-inner">
        <ul>
          <li> <a href="how-can-work-experience-help-me.html">
            <h3>How work experience can help you</h3>

            <p>Having some experience of work before you leave university has many benefits, more than you might first think.</p>

</a> </li>
          <li> <a href="https://warwick.ac.uk/services/careers/workexperience/campusopportunities">
            <h3>Getting work experience on campus</h3>

            <p>From the Arts Centre to the Academic Office, browse the campus experience pool to find paid and volunteer opportunities right here at Warwick.</p>

</a> </li>
          <li> <a href="work-experience-internships.html">
            <h3>Internships</h3>

            <p>An internship is a structured, pre-defined period of work, with agreed goals and objectives, which sits outside of your studies. </p>

</a> </li>
          <li> <a href="less-common-opportunities.html">
            <h3>Less common work experience options</h3>

            <p>Use this section to get an overview of the popular ways of getting work experience, as well as some that you may not have considered.</p>

</a> </li>
          <li> <a href="part-time-work.html">
            <h3>Part time and temporary work</h3>

            <p>Whilst we offer access to hundreds of vacancies on campus and via myAdvantage, you may also want to look elsewhere.</p>

</a> </li>
          <li> <a href="work-experience-placements.html">
            <h3>Placements</h3>

            <p>A placement is a work experience that forms part of a degree, where you will often undertake an assignment, progress reports or other learning activities in addition to the tasks you perform within the role you have undertaken.</p>

</a> </li>
          <li> <a href="finding-work-experience.html">
            <h3>Researching your own work experience opportunities</h3>

            <p>Whilst we offer access to hundreds of vacancies on campus and via myAdvantage, you may also want to look elsewhere.</p>

</a> </li>
          <li> <a href="unpaid-work.html">
            <h3>Unpaid work</h3>

            <p>Some employers offer the chance to work without pay, for the opportunity to learn about their business and gain experience.</p>

</a> </li>
          <li> <a href="volunteering-overseas.html">
            <h3>Volunteering in the UK</h3>

            <p>Volunteering offers great opportunities to get experience in diverse settings and occupations, working with local communities and diverse individuals</p>

</a> </li>
          <li> <a href="volunteering-overseas.html">
            <h3>Volunteering overseas</h3>

            <p>Volunteering overseas can be a life changing experience, providing an invaluable way of learning new skills and languages, experiencing new cultures, seeing new parts of the world, making friends and giving back to the country to which you are travelling.</p>

</a> </li>
          <li> <a href="volunteering-overseas.html">
            <h3>Warwick Undergraduate Research Scholarship Scheme (URSS)</h3>

            <p>Warwick Undergraduate Research Scholarship Scheme (URSS) offers bursary support for students undertaking a research project. For many students this is a great work experience opportunity, particularly if there are considering a career in research. </p>

</a> </li>
          <li> <a>
            <h3>Warwick summer internships (WSI)</h3>

            <p>120+ paid 6+ week experiences, exclusively for Warwick undergraduate students, with small and medium-sized enterprises (SMEs), charities and internal departments of the University  </p>

</a> </li>
          <li> <a href="/experience/work-experience-bursary-scheme/work-experience-bursary-scheme.html">
            <h3>Work experience bursaries</h3>

            <p>Our work experience bursaries offer up to £600 to access work experience that develops your professional skills and enhances your CV.</p>

</a> </li>
        </ul>

      </div>

    </div>

  </section>
  <aside class="col-sm-4">
    <div class="scs-navigation-side-menu divider--thick">
      <h2>Related Topics</h2>

      <ul>
        <li><a href="/advice/topic_advice-and-appointments.html">Advice and appointments</a> </li>
      </ul>

    </div>

    <div class="scs-navigation-side-menu scs-navigation-side-menu-topic divider--thin">
      <div id="promo-container"></div>

    </div>

  </aside>
</div>


</body>
</html>
