
{% extends 'content.njk' %}
{% import 'components/guide.njk' as guide %}
{% import 'components/button.njk' as buttons %}
{% set content_guide = "true" %}


{% block pagetitle %}
Work experience bursary scheme (WEB)
{% endblock %}

{% block content_guide %}

<ol class="scs-contents-list__list">
    <li class="scs-contents-list__list-item scs-contents-list__list-item--dashed " >
      <a class="scs-c-contents-list__link" href="work-experience-bursary-scheme-p1.html" > About the scheme </a>
    </li>
    <li class="scs-contents-list__list-item scs-contents-list__list-item--dashed scs-contents-list__list-item--active" aria-current="true">
      <a class="scs-c-contents-list__link" href="work-experience-bursary-scheme-p2.html"> Who can apply? </a>
    </li>

    <li class="scs-contents-list__list-item scs-contents-list__list-item--dashed scs-contents-list__list-item--active" aria-current="true">
          How to apply
        </li>
</ol>

{% endblock %}


{% block main_content %}


<h2>How to apply</h2>

<p>Applicants can apply until 13th September 2019, on a first-come, first-served basis. Early applications are advised however you must apply at least 1 week prior to the start of your work experience in order to receive a decision in time. Late applications will only be considered at the discretion of the Internships Development Manager. Applications submitted after the work experience has started, or been completed, will not be considered. </p>

<h3>When should I apply?</h3>


<p>You must apply at least 1 week prior to the start of your work experience in order to receive a decision in time. Late applications will only be considered at the discretion of the Internships Development Manager. Applications submitted after the work experience has started, or been completed, will not be considered.</p>


{{ buttons.basic({
  text: "Apply Now",
  href: "https://myadvantage.warwick.ac.uk/students/appointments/",
  classes: "scs-button--booking"
}) }}


<!-- previous -->
{{ guide.pagination_previous({
  text: "Who can apply?",
  href: "work-experience-bursary-scheme-p2.html"
}) }}

{% endblock %}



{% block related_links %}

<ul>
  <li><a href="#">The Warwick Enhanced Summer Work Experience Bursary (WESWEB) 2019</a></li>

</ul>

{% endblock %}


{% block related_topics %}

<ul>
  <li><a href="topic_get-work-experience.html">Get work experience</a> </li>
</ul>

{% endblock %}
