
{% extends 'content-withguide.njk' %}
{% import 'components/guide.njk' as guide %}

{% block pagetitle %}
Work experience bursary scheme (WEB)
{% endblock %}

{% block content_guide %}

<ol class="scs-contents-list__list">
    <li class="scs-contents-list__list-item scs-contents-list__list-item--dashed " >
      <a class="scs-c-contents-list__link" href="work-experience-bursary-scheme.html" > About the scheme </a>
    </li>
    <li class="scs-contents-list__list-item scs-contents-list__list-item--dashed scs-contents-list__list-item--active" aria-current="true">
      Who can apply?
    </li>

    <li class="scs-contents-list__list-item scs-contents-list__list-item--dashed ">
          <a class="scs-c-contents-list__link" href="work-experience-bursary-scheme-p3.html"> How to apply </a>
        </li>
</ol>
{% endblock %}


{% block main_content %}

<h1 class="guide-page-title">Who can apply?</h1>

<p>All currently enrolled University of Warwick students who study an undergraduate or postgraduate course while undertaking the work experience can apply. Students that are temporarily withdrawn from their studies at the University cannot apply.</p>


<div role="note" aria-label="Information" class="info-notice">
<p>Finalists may only apply for bursaries that cover the period up to the end of the month in which their course finishes (June or November as applicable) and must submit their Bursary Release Request form by the end of that month, as payments beyond this point are not possible via the Student Finance and Student Funding offices.</p>
</div>



<!-- previous -->
{{ guide.pagination_previous({
  text: "About the scheme",
  href: "work-experience-bursary-scheme.html"
}) }}

<!-- next -->
{{ guide.pagination_next({
  text: "How to apply",
  href: "work-experience-bursary-scheme-p3.html"
}) }}


{% endblock %}




{% block related_links %}

<ul>
  <li><a href="#">The Warwick Enhanced Summer Work Experience Bursary (WESWEB) 2019</a></li>

</ul>

{% endblock %}


{% block related_topics %}

<ul>
  <li><a href="/experience/topic_get-work-experience.html">Get work experience</a> </li>
</ul>

{% endblock %}
