
{% extends 'content-withguide.njk' %}
{% import 'components/guide.njk' as guide %}
{% import 'components/button.njk' as buttons %}


{% block pagetitle %}
Careers fairs and sector events
{% endblock %}


{% block content_guide %}

<ol class="scs-contents-list__list">
    <li class="scs-contents-list__list-item scs-contents-list__list-item-active" aria-current="true">
      About our careers fairs
    </li>

    <li class="scs-contents-list__list-item " >
        <a href="/job-searching/career-sector-events/fair-getting-the-most.html">Getting the most from careers fairs</a>
    </li>

    <li class="scs-contents-list__list-item ">
      <a href="/job-searching/career-sector-events/sector-events" >
      Sector events</a>
    </li>
</ol>
{% endblock %}


{% block main_content %}
<h2>About our careers fairs</h2>
<p>Careers fairs, sector events and employer sessions offer a chance for recruiters to have a presence on campus, and enable you to hear more about their organisations and benefit from hints and tips on the recruitment and selection process.</p>


<div role="note" aria-label="Information" class="info-notice">
<p>
  Use <a href="https://myadvantage.warwick.ac.uk/students/events/search?query=&EventType=4">myAdvantage </a> to check dates for fairs and if you need to book a place.
 </p>
</div>

<h3>Autumn fair</h3>

<p>The largest fair of the year, it attracts employers with the earliest application deadlines, and the largest internship and graduate programmes. They come from many sectors, and have opportunities across all types of jobs.</p>

<h3>Business, finance, &amp; consultancy fair</h3>

<p>Focuses on commercial, financial and consultancy organisations – with some of the most diverse opportunities available across all types of jobs, from Marketing and PR through to IT, HR, and many more. Opportunities for students from every course of study.</p>




<h3>Law fair</h3>

<p>Specific to the Law Sector, and therefore smaller and more specialist. But each year, 50% of those pursuing a Law career come from non Law degrees, via a graduate conversion course. So whether you’re in the Law School or not, find out more about the opportunities, and the different types of Law career.</p>


<h3>Engineering science &amp; technology fair</a> </h3>

<p>You will find large multinational manufacturers, technology and engineering focused employers here. And again, whilst you might think they want to meet only those studying Engineering and Science subjects, like every other large organisation they need people in creative, communication-based, marketing, people management, and many other roles.</p>


<h3>Regional fair</a> </h3>

<p>The vibrant growth in the West Midlands is creating more and more varied opportunities for Warwick graduates to build a career here. Local businesses of all sizes and specialisms, tell us they would love to attract more talent from Warwick – but this is the first time we expect to be able to host an event with this focus.</p>


<h3>China careers fair</h3>

<p>Warwick, plus six partner Universities work together to enable students to meet both UK and China recruiters with roles in China. Includes presentations about employment skills and the Chinese job market, as well as individual employer presentations. Opportunity to meet over 25 Chinese employers and organisations looking to recruit students studying in the UK. The Fair is mainly targeted at final year and postgraduate students. Unusually for our fairs, you need to book this one!</p>

<h3>Summer fair</h3>

<p>Featuring the widest range of employers offering graduate positions, internships and work experience opportunities across a huge variety of sectors. Local employers, multinational businesses, and great opportunities still available for the coming summer and beyond!</p>




{% endblock %}

{% block related_links %}

  <ul>
    <li>Graduate recruitment cycle</li>
    <li>Volunteers fair</li>
    <li>Researching employers</li>
  </ul>


{% endblock %}


{% block related_topics %}

<ul>
  <li><a href="topic_advice-and-appointments.html">Job search strategies</a> </li>
</ul>

{% endblock %}



{% block topic_promo %}
    <div class="scs-side-nav-promo box boxstyle_ box5 highlighted-event-date" />

    <p>The next career cair.</p>

      <h3>2 March 2019</h3>
      <strong>Warwick China careers fair</strong>

      <br>  <br>
      <p><a href="https://myadvantage.warwick.ac.uk/students/events">Full list of fairs</a></p>

    </div>
  {% endblock %}
