
{% extends 'content-withguide.njk' %}
{% import 'components/guide.njk' as guide %}
{% import 'components/button.njk' as buttons %}


{% block pagetitle %}
Careers fairs and sector events
{% endblock %}


{% block content_guide %}

<ol class="scs-contents-list__list">
    <li class="scs-contents-list__list-item scs-contents-list__list-item-active" aria-current="true">
      About our Careers Fairs
    </li>

    <li class="scs-contents-list__list-item " >
        <a href="cv-targetting.html">Getting the most from careers fairs</a>
    </li>

    <li class="scs-contents-list__list-item ">
      <a href="#" >
      Sector events</a>
    </li>
</ol>
{% endblock %}


{% block main_content %}
<h2>Getting the most from Careers Fairs</h2>

  <h3>Do:</h3>

  <ul>
    <li>Make sure you download the <a target="_blank" href="https://warwick.ac.uk/services/careers/events/fairapp">Careers Fair App<i class="new-window-link" title="Link opens in a new window"></i></a> before your first Fair (you only need to do it once for the year)</li>
    <li>Learn how to use the App to identify employers with opportunities relevant for you</li>
    <li>Look beyond the employer’s name and its products/services to research what internships and graduate jobs they have</li>
    <li>Focus initially on the type of job you want (eg marketing) rather than the employer's sector (eg manufacturing). Manufacturers need people working in finance, marketing and communications just as much as they need engineers!</li>
  </ul>

  <h3>Don’t:</h3>
  <ul>
    <li>Assume there are no opportunities for you at a particular Fair, just because of its title.</li>
    <li>Assume that to use what you learn on your degree, you need to work in a particular sector. For the majority of jobs, employers don’t mind what you are studying and in fact vastly prefer a diverse mix of graduates.</li>
    <li>Imagine that what you do in an internship or first graduate job, has to be where you will spend the rest of your career. The experience you gain, and how you reflect on it, is much more important.</li>
  </ul>




{{ buttons.basic({
  text: "Download the Fair App",
  href: "https://myadvantage.warwick.ac.uk/students/appointments/",
  classes: "scs-button--booking"
}) }}

{% endblock %}

{% block related_links %}

  <ul>
    <li>Graduate recruitment cycle</li>
    <li>Volunteers fair</li>
    <li>Researching employers</li>
  </ul>


{% endblock %}


{% block related_topics %}

<ul>
  <li><a href="topic_advice-and-appointments.html">Job search strategies</a> </li>
</ul>

{% endblock %}



{% block topic_promo %}
    <div class="scs-side-nav-promo box boxstyle_ box5 highlighted-event-date" />

    <p>The next employer event</p>

      <h3>2 March 2019</h3>
      <strong>Warwick China Careers Fair</strong>

      <br>  <br>
      <p><a href="https://myadvantage.warwick.ac.uk/students/events">Full list of events</a></p>

    </div>
  {% endblock %}
