
{% extends 'content-withguide.njk' %}
{% import 'components/guide.njk' as guide %}
{% import 'components/button.njk' as buttons %}


{% block pagetitle %}
Careers fairs and sector events
{% endblock %}


{% block content_guide %}

<ol class="scs-contents-list__list">
    <li class="scs-contents-list__list-item scs-contents-list__list-item-active" aria-current="true">
      About our Careers Fairs
    </li>

    <li class="scs-contents-list__list-item " >
        <a href="cv-targetting.html">Getting the most from careers fairs</a>
    </li>

    <li class="scs-contents-list__list-item ">
      <a href="#" >
      Sector events</a>
    </li>
</ol>
{% endblock %}


{% block main_content %}
<h2>Sector events</h2>


<p>Smaller employers, charities, arts and culture, creative, media and publishing, journalism and politics type career options are less evident at careers fairs, so these sector events cover these options.</p>

<p>Often those who come along are Warwick alumni and other good contacts able to provide you with an insight into their experience. They offer opportunities to hear from speakers, and also to network, because this is the way that these sectors tend to work. You need to book via myAdvantage to attend these.</p>


<h3>Events programme</h3>

<p>We are usually able to offer around 10 in our programme, which has in past years has included events such as:</p>

<ul>
  <li>Creative careers</li>
  <li>Public Sector careers</li>
  <li>Careers in HR</li>
  <li>Careers in Retail</li>
  <li>Technology in Professional Services</li>
  <li>Working for more than Profit</li>
  <li>Advertising, Marketing and PR</li>
  <li>Publishing &amp; Journalism</li>
  <li>Radio, Film &amp; TV</li>
  <li>Careers in Politics and Government</li>
  <li>Careers in Education</li>
</ul>

<p>The events above are just a sample of a programme of over 120 events a year, taking place both on Campus and as far away as Shanghai!</p>


{% endblock %}

{% block related_links %}

  <ul>
    <li>Graduate recruitment cycle</li>
    <li>Volunteers fair</li>
    <li>Researching employers</li>
  </ul>


{% endblock %}


{% block related_topics %}

<ul>
  <li><a href="topic_advice-and-appointments.html">Job search strategies</a> </li>
</ul>

{% endblock %}



{% block topic_promo %}
    <div class="scs-side-nav-promo box boxstyle_ box5 highlighted-event-date" />

    <p>The next employer event</p>

      <h3>2 March 2019</h3>
      <strong>Warwick China Careers Fair</strong>

      <br>  <br>
      <p><a href="https://myadvantage.warwick.ac.uk/students/events">Full list of events</a></p>

    </div>
  {% endblock %}
