<html>
<head>
<link href="/services/careers2018/static-files/css/custom.css" rel="stylesheet" type="text/css" >
<script src="/services/careers2018/static-files/js/guidepages.js"></script>
<script src="/services/careers2018/static-files/js/careersapp.js"> </script>

<script>
/*
PAGE TYPES:
content page = 1
guide page = 2
topic page = 3
homepage = 0  */

// set page type
careersApp.pageTypeSet(2);

</script>

</head>



<body>

<div class="row scs-content-pad-top-30">
  <section class="col-sm-8 scs-content-block-pad">
    <h2 class="guide-topic-title"> How to write a CV </h2>

    <aside class="part-navigation-container" role="complementary">
      <nav role="navigation" aria-label="Pages in this guide">
        <h2>Contents</h2>

        <!-- sitebuilder content list will rendered below by guide.js -->
        <div id="guide_content_list"> </div>

      </nav>
    </aside>
  </section>
  <aside class="col-sm-4"> </aside>
  <section class="col-sm-8 scs-content-main-block scs-content-block-pad scs-content-pad-top-20">

    <h2 class="guide-page-title">References and contact information</h2>



  </section>
  <div class="col-sm-1"> </div>

  <aside class="col-sm-3">
    <div class="scs-navigation-side-menu divider--thick">
      <h2>Related content</h2>

      <ul>
        <li><a href="../../warwick-summer-internships/about-the-scheme">Warwick Summer Internships</a></li>
        <li><a href="../../work-experience-bursary-scheme/about-the-scheme">Work Experience Bursary Scheme</a></li>
        <li><a href="../../urss">Undergraduate Research Support Scheme</a></li>
        <li><a href="../../internships">Internships</a></li>
      </ul>

    </div>

    <div class="scs-navigation-side-menu scs-navigation-side-menu-topic divider--thin">
      <div id="promo-container"></div>

    </div>

  </aside>
</div>


</body>
</html>
