<html>
<head>
<link href="/services/careers2018/static-files/css/custom.css" rel="stylesheet" type="text/css" >
<script src="/services/careers2018/static-files/js/guidepages.js"></script>
<script src="/services/careers2018/static-files/js/careersapp.js"> </script>

<script>
/*
PAGE TYPES:
content page = 1
guide page = 2
topic page = 3
homepage = 0  */

// set page type
careersApp.pageTypeSet(2);

</script>

</head>



<body>

<div class="row scs-content-pad-top-30">
  <section class="col-sm-8 scs-content-block-pad">
    <h2 class="guide-topic-title"> How to write a CV </h2>

    <aside class="part-navigation-container" role="complementary">
      <nav role="navigation" aria-label="Pages in this guide">
        <h2>Contents</h2>

        <!-- sitebuilder content list will rendered below by guide.js -->
        <div id="guide_content_list"> </div>

      </nav>
    </aside>
  </section>
  <aside class="col-sm-4"> </aside>
  <section class="col-sm-8 scs-content-main-block scs-content-block-pad scs-content-pad-top-20">

    <h2 class="guide-page-title">Twitter</h2>

    <p>Twitter is a good way to get up-to-date information from employers and organisations in your field of interest. In some sectors, it can be an excellent self-promotional tool. Many graduate recruiters and some SMEs will use their Twitter feed to share news, updates, deadlines and job opportunities.</p>

<h3>Create a bio</h3>

<ul>
<li>If you want to ‘go public’ with your Twitter feed, then you need to think about your bio. Make sure your profile and avatar are both professional.</li>
<li>Think about your brand. It’s important to project a professional front but without sounding bland. Use your Twitter profile to encapsulate and reflect your aspirations, interests and personality.</li>
</ul>

<h3>Start following and searching</h3>

<ul>
<li>Follow recruiters and organisations to make sure you hear about job postings, news and initiatives.</li>
<li>Retweet relevant information, but don’t forget to add your own voice.</li>
<li>Use hashtags to help organise your job search.</li>
</ul>


<h3>Tweet!</h3>

<ul>
<li>This is one of the most immediate and powerful ways to connect with people and raise your profile. Get the balance right though – aim for quality, not quantity.</li>
<li>Be professional and think before you tweet.</li>
</ul>



  </section>
  <div class="col-sm-1"> </div>

  <aside class="col-sm-3">
    <div class="scs-navigation-side-menu divider--thick">
      <h2>Related content</h2>

      <ul>
        <li>Networking</li>
        <li>Researching employers</li>
      </ul>

    </div>

    <div class="scs-navigation-side-menu scs-navigation-side-menu-topic divider--thin">
      <div id="promo-container"></div>

    </div>

  </aside>
</div>


</body>
</html>
