<html>
<head>
<link href="/services/careers2018/static-files/css/custom.css" rel="stylesheet" type="text/css" >
<script src="/services/careers2018/static-files/js/guidepages.js"></script>
<script src="https://warwick.ac.uk/services/careers2018/static-files/js/careersapp.js"> </script>

<script>
/*
PAGE TYPES:
content page = 1
guide page = 2
topic page = 3
homepage = 0  */

// set page type
careersApp.pageTypeSet(2);
// pulls in frequently repeated and updated content promos from /partials/righthand-promo-widgets/
careersApp.getPromo("/partials/righthand-promo-widgets/cvchecking")
</script>

</head>



<body>

<div class="row scs-content-pad-top-30">
  <section class="col-sm-8 scs-content-block-pad">
    <h2 class="guide-topic-title"> How to write a CV </h2>

    <aside class="part-navigation-container" role="complementary">
      <nav role="navigation" aria-label="Pages in this guide">
        <h2>Contents</h2>

        <!-- sitebuilder content list will rendered below by guide.js -->
        <div id="guide_content_list"> </div>

      </nav>
    </aside>
  </section>
  <aside class="col-sm-4"> </aside>
  <section class="col-sm-8 scs-content-main-block scs-content-block-pad scs-content-pad-top-20">

	  <!-- guide page content goes below -->



<!-- end content -->


  </section>
  <div class="col-sm-1"> </div>

  <aside class="col-sm-3">
    <div class="scs-navigation-side-menu divider--thick">
      <h2>Related content</h2>

      <ul>
        <li>Graduate recruitment cycle</li>
        <li>Volunteers fair</li>
        <li>Researching employers</li>
      </ul>

    </div>

    <div class="scs-navigation-side-menu scs-navigation-side-menu-topic divider--thin">
      <div id="promo-container"></div>

    </div>

  </aside>
</div>


</body>
</html>
