<html>
<head>
<link href="/services/careers2018/static-files/css/custom.css" rel="stylesheet" type="text/css" >
<script src="/services/careers2018/static-files/js/careersapp.js"> </script>
<script>
/*
PAGE TYPES:
content page = 1
guide page = 2
topic page = 3
homepage = 0  */

// set page type
careersApp.pageTypeSet(1);
careersApp.getPromo('/partials/righthand-promo-widgets/help-desk');
// pulls in frequently repeated and updated content promos from /partials/righthand-promo-widgets/
</script>

</head>

<body>

<div class="row scs-content-pad-top-30">

  <section class="col-sm-8 scs-content-main-block scs-content-block-pad">

  <h1>International Work Experience</h1>

<p>  Experience of working abroad can be very valuable in terms of the skills and experience that
you gain. However, it’s very important to research the options thoroughly
and make sure you understand all the implications of the opportunity you are
considering. There may be additional costs of travelling and
accommodation, there will be regulations around visa and vaccination
requirements to consider and you may be living and working in a very different
cultural environment.</p>

  <h3>Valid passport</h3>

<p>Whether you are a UK home student or an international student, you will need to ensure that your passport is valid and that it will remain valid for the duration of your stay abroad. Some countries require that a passport must be valid for at least six months or sometimes longer after the expected end date for your stay. If you are planning to undertake work experience overseas and you don’t have a passport, or think that your passport might expire soon, we advise you to look into replacing it sooner rather than later.</p>

  <h4> UK students</h4>

  <p>If you do not have a passport, or if you need to replace your passport, check out the<a href="https://www.gov.uk/browse/abroadpassports">gov.uk passports information.</p>

  <h4>International students</h4>

  <p>It is important to check on the passport policies of individual countries you are considering working in. If you believe that your passport may need replacing soon, please check the guidance for your country of origin as well as the country you want to get work experience in.</p>

<h3>Travel security</h3>


<p>
  If you plan to work in a particular country, are you able to travel safely?&nbsp; To help determine if you can access a particular country and to determine whether there may be any potential risks to your safety once in the country, check out the <a href="https://www.gov.uk/government/organisations/foreign-commonwealth-office">UK Foreign and Commonwealth Office. As situations can change rapidly in some countries, it’s worth signing up for regular <a href="https://www.gov.uk/foreign-travel-advice">Travel Alerts</a>, and conducting your own risk assessment of the potential risks and how you can manage them.</p>

  <h3>Visas</h3>

  <p>Every country has its own unique criteria regarding visas for work experience. If you don’t have the appropriate valid visa, you are unlikely to get into the country to undertake your work experience. If you try to get into a country to undertake work experience without a valid visa and this is then discovered by the authorities, you may be prevented from visiting that country in the future.</p>

  <p>It is important that you undertake your own research into visas for overseas opportunities; start with the government’s own website to research the visa information and advice to foreign nationals wishing to undertake work experience in their country. The <a href="https://www.gov.uk/government/organisations/foreign-commonwealth-office">UK Foreign and Commonwealth Office</a> comprehensive guidance (primarily for UK nationals) regarding travel overseas. It also provides <a href="https://www.gov.uk/government/publications/foreign-embassies-in-the-uk">contact details for the UK embassy of every country</a></p>


  <p>Find out more about which countries you will need a visa using the search facility on <a href="https://www.visahq.co.uk/">VisaHQ</a>, </p>

  <h3>Risk assessment</h3>

  <p>Consideration of risk should be part of your research and planning for any overseas work experience. If you are going abroad as part of a University of Warwick scheme such as <a href="https://warwick.ac.uk/study/studyabroad">Study Abroad</a>

<a href="https://warwick.ac.uk/giving/community/wia/">Warwick in Africa</a> this may be already taken care of. If you are travelling with an external provider or agent, ask about their risk assessment procedures.</p>


  <p>If you are finding your own overseas work experience you may need to make your own assessment of the risks you will face, consider how you will manage these risks, have a contingency plan in place should you need to cut short your trip, and have sufficient funds to pay for emergency travel.</p>

 <h3>Travel insurance</h3>

 <p>Although travel insurance can seem like another expense, getting yourself covered is worth it. Ensure you have sufficient cover for the duration of your trip and that insurance covers medical expenses, personal belongings, emergency assistance and cancellation or interruption.</p>


  <h3>Medical card</h3>

  <p>
    If you are a UK national and are planning to travel to a location in the European Economic Area, you are advised to obtain a European Health Insurance Card (EHIC). This is free and entitles you to free or reduced-cost treatment in the European Economic Area and Switzerland. You can find out how to apply for a new card, or renew an existing one <a href="https://www.gov.uk/european-health-insurance-card">here. </a></p>

<h3>Language skills and cultural awareness</h3>

  <p>
    You can make the most of an opportunity overseas by ensuring that you integrate into the local culture. Find out how you can improve your <a href="https://warwick.ac.uk/fac/arts/languagecentre">language skills</a>and explore the <a href="https://warwick.ac.uk/students/opportunities/worldatwarwick/interculturaltraining">Intercultural training</a> on offer at Warwick.</p>

<h3>Pay</h3>

  <p>Check out how you will be paid and what deductions will be made from your salary. Other countries’ labour laws will not be the same as the UK’s and this will be reflected in taxation and other deductions. For example, some companies will see providing accommodation and meals as payment, whereas in the UK this would not be legally considered as pay.</p>

  <h3>Cost of living</h3>

  <p>
    Find out what the cost of living is, including the costs of accommodation, travel, food and phone and utilities. Set a budget based on your income and expenditure, and think about having enough spare to cover any emergency that may arise. Research ways of
<a href="https://www.gapyear.com/articles/travel-tips/how-to-budget-like-a-top-travel-blogger">saving money</a> before you go, there are lots of cost of living comparison sites and travel bloggers to help you!</p>


  <h3>Self-care plan</h3>

  <p>Prepare yourself mentally and emotionally for your international experience, recognising that whilst there will be a lot of new and exciting experiences, there will also be times when you feel isolated and overwhelmed.</p>


  <ul>
  	<li><span><span><span>What hobbies and interests can you easily get involved with when abroad?</span></span></span></li>
  	<li><span><span><span>What helps you get through a difficult day?</span></span></span></li>
  	<li><span><span><span>What support networks will you have when abroad?</span></span></span></li>
  	<li><span><span><span>If you have little or no access to social media, phones or emails, how will you cope?</span></span></span></li>
  </ul>

  <h3>Agencies and third parties</h3>

  <p>Many organisations exist to help students find work experience opportunities overseas as well as assisting with accommodation, visas, etc. Be careful! Many charge you for this service and you may find it cheaper to do some of this yourself.&nbsp; Here are a few questions to ask before you sign up with an agency:</p>

  <ul>
  	<li><span><span><span>How much will this cost?&nbsp; What are the additional or hidden costs (deposit, further instalments, admin charges, taxes, etc.).</span></span></span></li>
  	<li><span><span><span>What is included and what is not included? (Flights, accommodation, vaccinations, visas?)</span></span></span></li>
  	<li><span><span><span>What are the benefits of using an agent: what could you arrange yourself and what is it worth paying for an agent to do?</span></span></span></li>
  </ul>

  <h3>Volunteering overseas</h3>

  <p>This can be a life changing experience, providing an invaluable way of learning new skills and languages, experiencing new cultures, seeing new parts of the world, making friends and giving back to the country to which you are travelling. &nbsp;If you’re thinking about volunteering overseas check out the advice from <a href="https://warwick.ac.uk/services/careers/workexperience/overseas/">Warwick Volunteers</a></p>


   </section>

<!-- end content -->
  <div class="col-sm-1"></div>

  <aside class="col-sm-3">

    <div class="scs-navigation-side-menu divider--thick">
      <h2>Related content</h2>

      <ul>
        <li><a title="" href="https://myadvantage.warwick.ac.uk/students/jobs/search?text=&typeofwork=3073&location=&country=International">International vacancies (myAdvantage)</a> </li>
        <li><a title="" href="https://moodle.warwick.ac.uk/course/view.php?id=11890">Getting started (Moodle course) </a> </li>
      </ul>
    </div>


    <div class="scs-navigation-side-menu divider--thick">
      <h2>Elsewhere on the web</h2>
      <ul>
        <li><a href="https://online.goinglobal.com/">GoinGlobal</a> - worldwide job listings and internships </li>
      </ul>
    </div>

    <!-- parent topic link will be added below using careersApp.pageTypeSet(1) (see html head)  -->
    <div class="scs-navigation-side-menu scs-navigation-side-menu-topic divider--thin">
      <!-- promo widget will be added below using careersApp.getPromo(see html head) if needed -->
      <div id="promo-container">

      </div>



    </div>







  </aside>
</div>


</body>
</html>
