<html>
<head>
<link href="/services/careers2018/static-files/css/custom.css" rel="stylesheet" type="text/css" >
<script src="/services/careers2018/static-files/js/careersapp.js"> </script>
<script>
/*
PAGE TYPES:
content page = 1
guide page = 2
topic page = 3
homepage = 0  */

// set page type
careersApp.pageTypeSet(1);
// pulls in frequently repeated and updated content promos from /partials/righthand-promo-widgets/
</script>

</head>

<body>

<div class="row scs-content-pad-top-30">

  <section class="col-sm-8 scs-content-main-block scs-content-block-pad">

  <h1>International Careers</h1>




   </section>

<!-- end content -->
  <div class="col-sm-1"></div>

  <aside class="col-sm-3">

    <div class="scs-navigation-side-menu divider--thick">
      <h2>Related content</h2>

      <ul>
        <li><a title="" href="https://myadvantage.warwick.ac.uk/students/jobs/search?text=&typeofwork=3073&location=&country=International">International vacancies (myAdvantage)</a> </li>
        <li><a title="" href="https://moodle.warwick.ac.uk/course/view.php?id=11890">Getting started (Moodle course) </a> </li>
      </ul>
    </div>


    <div class="scs-navigation-side-menu divider--thick">
      <h2>Elsewhere on the web</h2>
      <ul>
        <li><a href="https://online.goinglobal.com/">GoinGlobal</a> - worldwide job listings and internships </li>
      </ul>
    </div>

    <!-- parent topic link will be added below using careersApp.pageTypeSet(1) (see html head)  -->
    <div class="scs-navigation-side-menu scs-navigation-side-menu-topic divider--thin">
      <!-- promo widget will be added below using careersApp.getPromo(see html head) if needed -->
      <div id="promo-container">

      </div>



    </div>







  </aside>
</div>


</body>
</html>
