
{% extends 'homepage.njk' %}


{% block main_content %}

<div class="row">
  <div class="col-sm-8"><a class="white" href="eat-drink/"><img src="/static-files/images/scs-banner-short.png" alt="Drink being made in coffee machine" title="Food and drink available across campus" border="0"></a>

      <section class="box-dark boxstyle_">
    <h2 class="scs-homepage-title">Helping you prepare for your <span class="heavy"> future career</span></h2>
    </section>
  </div>

  <div class="col-sm-4 scs-homepage-main-menu">
    <h2>I'm looking to...</h2>

    <h3><a class="menu" href="/options/topic_future-options.html">Explore my future options </a></h3>

    <h3><a class="menu " href="/experience/topic_get-work-experience.html">Be more employable </a></h3>

    <h3><a class="menu" href="/applications/topic_cv-appts-advice.html">Find a Job </a></h3>

    <h3><a class="menu " href="/advice/guidance-appointment.html">Get help with job applications</a></h3>

  </div>

</div>


<div class="row scs-homepage-mega-links">

  <div class="col-sm-4">
    <h3><a href="/advice/topic_advice-and-appointments.html">Advice and appointments</a></h3>
<p>Includes career guidance appointments, drop in sessions, workshops</p>

<h3><a href="">Careers fairs and sector events</a></h3>
<p>Includes where to start, assess your values, skills and strengths</p>

<h3><a href="">Cover letters</a></h3>
<p>Includes application forms, writing tips, examples</p>

<h3><a href="/applications/cv.html">CVs</a></h3>
<p>CVs guide, writing tips, what to include</p>

<h3><a href="">Employing warwick graduates</a></h3>
<p>Recruiting at Warwick, connecting with graduate talent</p>

<h3><a href="">Further study</a></h3>
<p>Includes research students skills programme, postgraduate taught students</p>
  </div>

  <div class="col-sm-4">

    <h3><a href="">Graduates</a></h3>
<p>Graduate destinations, support, recruitment cycle, case studies</p>

<h3><a href="">International careers</a></h3>
<p>Includes overseas graduate jobs and internships</p>

<h3><a href="">Interviews</a></h3>
<p>Includes interview support, video interviews, telephone interviews</p>

<h3><a href="/experience/work-experience-bursary-scheme/work-experience-bursary-scheme.html">Internships</a></h3>
<p>Including placements and work experience</p>

<h3><a href="">Job applications</a></h3>
Includes assessement centres, psychometric and aptitude tests, what to expect

<h3>
<a href="">Job searching</a></h3>

<p>Including placements and work experience, summer internships and careers fairs</p>
  </div>

  <div class="col-sm-4">
    <h3><a href="">Networking</a></h3>
  <p>Includes sector events, careers fairs, workshops and support</p>

  <h3><a href="">Researching employers</a></h3>
  <p>Includes job sectors, what employers want, SMEs</p>

  <h3><a href="/options/topic_future-options.html">Self-awareness</a></h3>
  <p>Career motivations, goals, skills and strengthes</p>

  <h3><a href="">Skills development</a></h3>
  <p>Includes awards, personal development, study & research skills, academic writing
  </p>

  <h3><a href="">Vacancies</a></h3>
  <p>Internships and graduate positions available from myAdvantage</p>

  <h3><a href="/experience/topic_get-work-experience.html">Work experience</a></h3>
  <p>Opportunites and skills development</p>

</div>



</div>

{% endblock %}
