
{% extends 'homepage.njk' %}


{% block main_content %}

<div class="row">
  <div class="col-sm-8"><a class="white" href="eat-drink/"><img src="/static-files/images/scs-banner-short.png" alt="Drink being made in coffee machine" title="Food and drink available across campus" border="0"></a>
    <h2 class="scs-homepage-title">We help you prepare<br><span class="heavy">for your future</span></h2>
      <section class="box-dark boxstyle_">
      <p>Whether you are an undergrad, postgrad or postdoc, our team of experienced and impartial careers advisers are here to support you at Warwick and beyond</p>

    </section>
  </div>

  <div class="col-sm-4 scs-homepage-main-menu">
    <h2>I'm looking to...</h2>

    <h3><a class="menu" href="#">Explore my future options </a></h3>

    <h3><a class="menu " href="#">Be more employable </a></h3>

    <h3><a class="menu" href="#">Find a Job </a></h3>

    <h3><a class="menu " href="#">Get help with job applications</a></h3>

  </div>

</div>


{% endblock %}
