{% include 'partials/header.njk' %}

    <main class="id7-main-content-area" id="main">
      <header class="id7-main-content-header"></header>

      <div class="id7-main-content">

        <div class="row scs-content scs-content-pad-top-30">
            <section class="col-sm-8 scs-content-main-block scs-content-block-pad-20">

                <h1> {% block pagetitle %}{% endblock %}</h1>


        {% block main_content %}
        {% endblock %}

  </section>


  <aside class="col-sm-4">
    <div class="scs-navigation-side-menu divider--thick">
      <h2>Related content</h2>
      {% block related_links %}
      {% endblock %}
    </div>

   <div class="scs-navigation-side-menu scs-navigation-side-menu-topic divider--thin">
      <h3 class="sub-heading">Explore the topic</h3>
      {% block related_topics %}
      {% endblock %}
  </div>

  {% if externallinks %}

  <div class="scs-navigation-side-menu divider--thick">
   <h2>Elsewhere on the web</h2>
   {% block external_links  %}
   {% endblock %}
  </div>

  {% endif %}

  </aside>
</div>


      </div>
    </main>


{% include 'partials/footer.njk' %}
