{% include 'partials/header.njk' %}

    <main class="id7-main-content-area" id="main">
      <header class="id7-main-content-header"></header>

      <div class="id7-main-content scs-content-row">

        <div class="row ">
            <section class="col-sm-8 scs-content">

                <h1> {% block pagetitle %}{% endblock %}</h1>


                 <div class="guide scs-content ">
                   <aside class="part-navigation-container" role="complementary">
                             <nav role="navigation" class="scs-contents-list  "  aria-label="Pages in this guide">
                         <h2 class="scs-contents-list__title">Contents</h2>
                         {% block content_guide %}
                         {% endblock %}
                     </nav>
                   </aside>
                 </div>

</section>

<aside class="col-sm-4">
</aside>


<section class="col-sm-8 scs-content ">

  <div class="divider--thin-guide">  </div>
    {% block main_content %}
    {% endblock %}



</section>

  <aside class="col-sm-4">
    <div class="scs-navigation-side-menu divider--thick">
      <h2>Related content</h2>
      {% block related_links %}
      {% endblock %}
    </div>

   <div class="scs-navigation-side-menu divider--thin">
      <h2 class="sub-heading">Explore the topic</h2>
      {% block related_topics %}
      {% endblock %}
  </div>

  {% if externallinks %}

  <div class="scs-navigation-side-menu divider--thick">
   <h2>Elsewhere on the web</h2>
   {% block external_links  %}
   {% endblock %}
  </div>

  {% endif %}

  </aside>
</div>


      </div>
    </main>


{% include 'partials/footer.njk' %}
