{% include 'partials/header.njk' %}

    <main class="id7-main-content-area" id="main">
      <header class="id7-main-content-header"></header>

      <div class="id7-main-content scs-homepage">



        {% block main_content %}
        {% endblock %}


      </div>
    </main>


{% include 'partials/footer.njk' %}
