
{% include 'partials/header.njk' %}


<div class="container">
  <header>HEADER</header>

  <nav>
    NAV
  
  </nav>

  <main>

    {% block main_content %}
    {% endblock %}

  </main>

  <aside>ASIDE</aside>
  <footer>FOOTER</footer>

</div>



{% include 'partials/footer.njk' %}
