{% include 'partials/header.njk' %}

    <main class="id7-main-content-area" id="main">
      <header class="id7-main-content-header"></header>

      <div class="id7-main-content scs-topic">


    <div class="row scs-content-pad-top-30">
          <div class="col-sm-1"> </div>
          <div class="col-sm-7 ">

            <div class="topic-header">
              <h3>Topic</h3>
              <h1> {% block topic_title %}{% endblock %}</h1>
            </div>

          </div>

    </div>

        <div class="row scs-content-pad-top-20 scs-content">
            <section class="col-sm-1">
              <h5 class="scs-topic-atoz">AtoZ</h5>
            </section>

            <section class="col-sm-7 ">

            <div class="scs-section-pane">
              <div class="scs-pane-inner" >
              {% block main_content %}
              {% endblock %}
              </div>
            </div>

  </section>


  <aside class="col-sm-4">
    <div class="scs-navigation-side-menu divider--thick">
      <h2>Related Topics</h2>
      {% block related_links %}
      {% endblock %}
    </div>

  </aside>





</div>


      </div>
    </main>


{% include 'partials/footer.njk' %}
