{% include 'partials/header.njk' %}

    <main class="id7-main-content-area" id="main">
      <header class="id7-main-content-header"></header>

      <div class="id7-main-content ">


    <div class="row scs-content-pad-top-30">

          <div class="col-sm-8 ">
            <div class="topic-header" style="margin-bottom: 0px">
              <h3>Topic</h3>
              <h1 class="topic-title" > {% block topic_title %}{% endblock %}</h1>
            </div>
          </div>
    </div>

        <div class="row scs-content-pad-left-15  ">
            <section class="col-sm-8 js-enabled">
                {% block main_content %}
                {% endblock %}
            </section>

</div>
      </div>
    </main>

<script src="/static-files/js/topic-steps.js"></script>
{% include 'partials/footer.njk' %}
