<html>
	<head>
<link href="/services/careers2018/static-files/css/custom.css" rel="stylesheet" type="text/css">
<script src="/services/careers2018/static-files/js/guidepages.js"></script>
	</head>
<body>

<div class="row scs-content-pad-top-30">
  <section class="col-sm-8 scs-content-block-pad">
    <h2 class="guide-topic-title"> How to write a CV </h2>

    <aside class="part-navigation-container" role="complementary">
      <nav role="navigation" aria-label="Pages in this guide">
        <h2>Contents</h2>

        <div id="guide_content_list"> </div>

      </nav>
    </aside>
  </section>
  <aside class="col-sm-4"> </aside>
  <section class="col-sm-8 scs-content-main-block scs-content-block-pad scs-content-pad-top-20">
    <h2 class="guide-page-title">title here </h2>
<!-- content goes here -->



<!-- end content -->
</section>
  <div class="col-sm-1"> </div>

  <aside class="col-sm-3">
    <div class="scs-navigation-side-menu divider--thick">
      <h2>Related content</h2>

      <ul>
        <li>Graduate recruitment cycle</li>
        <li>Volunteers fair</li>
        <li>Researching employers</li>
      </ul>

    </div>

    <div class="scs-navigation-side-menu scs-navigation-side-menu-topic divider--thin">
      <h3 class="sub-heading">Explore the topic</h3>

      <ul>
        <li><a href="topic_advice-and-appointments.html">Job search strategies</a> </li>
      </ul>

    </div>

    <div class="divider--thin"> </div>
<!-- promo widget -->
    <div class="scs-side-nav-promo box boxstyle_ box5 highlighted-event-date">
      <p>The next Career Fair.</p>
      <h3>2 March 2019</h3>
<strong>Warwick China Careers Fair</strong> <br />
       <br />
      <p><a href="https://myadvantage.warwick.ac.uk/students/events">Full list of fairs</a> </p>
    </div>

	<!-- end promo widget -->

  </aside>
</div>


</body>
</html>
