<!-- this is the surrounding content for a sitebuilder content feed template  -->
<!-- uses right hand nav from below -->
<!-- /services/careers2018/partials/righthand-nav/-->

<html>
	<head>
<link href="/services/careers2018/static-files/css/custom.css" rel="stylesheet" type="text/css">
<script src="/services/careers2018/static-files/js/guidepages.js"></script>
	</head>
<body>

<div class="row scs-content-pad-top-30">
  <section class="col-sm-8 scs-content-block-pad">
    <h2 class="guide-topic-title"> How to write a CV </h2>

    <aside class="part-navigation-container" role="complementary">
      <nav role="navigation" aria-label="Pages in this guide">
        <h2>Contents</h2>

        <div id="guide_content_list"> </div>

      </nav>
    </aside>
  </section>
  <aside class="col-sm-4"> </aside>
  <section class="col-sm-8 scs-content-main-block scs-content-block-pad scs-content-pad-top-20">
    <h2 class="guide-page-title">Targeting your CV</h2>

    <p>Do your research about the company/role BEFORE you write your CV so you are clear what skills and experience they are looking for you to demonstrate </p>

    <div role="note" aria-label="Information" class="info-notice">
      <p> Make sure you tailor your CV for each role you are applying for &ndash; there is no such thing as a generic CV. </p>

    </div>

    <h3>General tips</h3>

    <ul>
      <li>Tailor your CV to the organisation.</li>
      <li>Prioritise the most relevant, important information.</li>
      <li>Make sure you tailor your CV for each role you are applying for. </li>
    </ul>

    <h3><i class="fa fa-television" aria-hidden="true"></i> Watch</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/YvyCIuBmXII" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"></iframe> <!-- next pagination -->
    <nav class="scs-guide-pagination" role="navigation" aria-label="Pagination"> </nav>
  </section>
  <div class="col-sm-1"> </div>

  <aside class="col-sm-3">
<!-- /services/careers2018/partials/righthand-nav/how-to-write-a-cv -->
<!-- SITEBUILDER_MERGE_DYNAMIC_STATIC -->
</aside>
</div>


</body>
</html>
