<!-- guide content -->

<h2 class="guide-page-title">CARR Context Action Result Reflection</h2>


<p>The CARR Context Action Result Reflection method is a good framework to use when writting a skills example on a CV it keeps your answers brief and to the point.
</p>
<p>Instead of giving meandering answers to pointed questions, CARR, by contrast, creates an easily memorable structure to plan your responses around. CARR styled responses orient answers so they are always crisp, brief, short, and provide just enough information.</p>

<h3>Key points</h3>
<ul>
  <li><strong>Context:</strong> What situation were you in? What background information does the reader need to understand the context? What was the task you were expected to perform? What needed to be done? What challenges did you expect to face?</li>

  <li><strong>Action:</strong> What actions did you take? (You can also outline what alternatives you considered.) What is the reason you did it? What happend next?</li>

<li><strong>Result and relection:</strong> What impact did your actions have? What did you learn from the process?</li>

</ul>

<div role="note" aria-label="Information" class="info-notice">
<p>
  Action should make up around 65% of your writing, with around 15-20% each for context and results.
 </p>
</div>


<h3><i class="fa fa-television" aria-hidden="true"></i> Watch</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/rc4J0HeePcU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


<!-- end guide content -->
