
<div class="scs-navigation-side-menu divider--thick">
  <h2>Related content</h2>

  <ul>
    <li><a href="#">CV examples</a> </li>
    <li><a href="#">Cover letters</a> </li>
    <li><a href="#">Assessment centres</a> </li>
  </ul>

</div>

<div class="scs-navigation-side-menu scs-navigation-side-menu-topic divider--thin">
  <h3 class="sub-heading">Explore the topic</h3>

  <ul>
    <li><a href="/applications/topic_job-applications.html">Job applications and CVs</a> </li>
  </ul>

  <div class="divider--thin"> </div>

  <div class="scs-side-nav-promo">
    <h2>CV checking service</h2>

 Use this guide to help you produce a good CV and don't forget that you can get your CV checked by attending <a href="#">drop-in </a>or by making an <a href="#">appointment</a> with a job search adviser. </div>

</div>
