<nav class="navbar navbar-primary hidden-xs" role="navigation">
  <ul class="nav navbar-nav">
    <li class="first protected" >
      <a href="topic_advice-and-appointments.html">Advice and appointments</a>
    </li>
    <li> <a href="#">Exploring your future options</a>
    </li>
    <li> <a href="work-experience.html">Work experience</a>
    </li>
    <li> <a href="topic_cv-appts-advice.html">CV's, applications and interviews</a>
    </li>
  </ul>
</nav>
