
{% extends 'content.njk' %}
{% import 'components/button.njk' as buttons %}

{% block pagetitle %}
Aptitude and personality type tests
{% endblock %}

{% block main_content %}
<p>The following test will help you identify your career interests, personality type and core values.</p>

<p>
Use the login details below to access the aptitude tests and personality questionnaires.</p>



{{ buttons.basic({
  text: "Take the aptitude and personality tests",
  href: "https://www.profilingforsuccess.com/cgi-bin/hpfs_assessments.pl",
  classes: "scs-button--booking"
}) }}


{% endblock %}

{% block related_links %}
<ul>
  <li><a href="#">Assessing your skills</a></li>
  <li><a href="#">Determining your goals</a></li>
</ul>
{% endblock %}


{% block related_topics %}
<ul>
  <li><a href="/options/topic_future-options.html">Explore your options</a> </li>
</ul>
{% endblock %}

<!-- option external links block  -->
{% set externallinks = true %}
{% block external_links %}
<ul>
  <li><a href="/options/topic_future-options.html">Warwick Self Awareness Moodle course</a> </li>
  <li><a href="/options/topic_future-options.html">Prospects Career Planner</a> </li>
</ul>
{% endblock %}
