
{% extends 'topic.njk' %}

{% block topic_title %}
Exploring your future options
{% endblock %}

{% block main_content %}


  <ul>
    <li>
        <a href="/options/personality-types.html" >
    <h3>Aptitude and personality type tests</h3>
    <p>Help identify your career interests, personality type and core values.</p>
    </a>
    </li>


      <li>
        <a href="#" >
          <h3>Assessing your skills</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Career planning statements</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Determining your goals</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Further study</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Graduate destinations </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Timetable for action </h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </a>
      </li>
  </ul>


{% endblock %}


{% block related_links %}

<ul>
  <li><a href="/experience/topic_get-work-experience.html">Work experience</a></li>
  <li><a href="/advice/topic_advice-and-appointments.html">Advice and appointments</a></li>
</ul>
{% endblock %}
