
{% extends 'topic.njk' %}

{% block topic_title %}
Advice and appointments
{% endblock %}

{% block main_content %}


  <ul>
      <li>
        <a href="#" >
          <h3>Ask online</h3>
          <p>Have a careers based question that you would rather ask online? Ask a question via myAdvantage.</p>
        </a>
      </li>

      <li>
        <a href="guidance-appointment.html" >
          <h3>Careers guidance appointments</h3>
          <p>Meet with a careers consultant for an in depth discussion to help you with career planning and career choices.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Careers workshops</h3>
          <p>We run a number of bookable workshops throughout the year.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Drop in careers advice</h3>
          <p>If you have any careers based queries or want help booking appointments, come along and talk to our staff.</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Events</h3>
          <p>Find out about and book on to the range of events run by Student Careers and Skills</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Graduates</h3>
          <p>Find out about support for Warwick Graduates (Alumni)</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Job search appointments</h3>
          <p>Our job search advisers can help with CVs, applications, searching for jobs, interviews and work experience.
</p>
        </a>
      </li>

      <li>
        <a href="#" >
          <h3>Skills workshops</h3>
          <p>We run a number of bookable workshops throughout the year.</p>
        </a>
      </li>

  </ul>


{% endblock %}


{% block related_links %}

<ul>
  <li><a href="/applications/topic_job-applications.html">Job applications</a></li>
  <li><a href="/experience/topic_get-work-experience.html">Work experience</a></li>
</ul>
{% endblock %}
