<div class="row">
  <div class="col-sm-8"><a class="white" href="eat-drink/"><img src="/static-files/images/scs-banner-short.png" alt="Drink being made in coffee machine" title="Food and drink available across campus" border="0"></a>

      <section class="box-dark boxstyle_">
    <h2 class="scs-homepage-title">Helping you prepare for your <span class="heavy"> future career</span></h2>
    </section>
  </div>

  <div class="col-sm-4 scs-homepage-main-menu">
    <h2>I need help with...</h2>

    <h3><a class="menu" href="/options/topic_future-options.html">Exploring my future options </a></h3>

    <h3><a class="menu " href="/experience/topic_get-work-experience.html">Looking for work experience </a></h3>

    <h3><a class="menu" href="/applications/topic_cv-appts-advice.html">Searching for Jobs </a></h3>

    <h3><a class="menu " href="/advice/guidance-appointment.html">Preparing and applying for a job</a></h3>

  </div>
</div>
