<section class="box boxstyle_ colour-box full-width">
  <div class="row">
    <div class="col-md-5">
      <blockquote class="blockquote">
        <p class="text-quote"><i class="fa fa-quote-left"></i> Working with student careers early on will help you plan your future and gain an advantage.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim a <i class="fa fa-quote-right"></i> </p>

        <footer class="blockquote-footer text-quotee">Ann Wilson<br>
           <cite title="Source Title">Director of Student Opportunities</cite> </footer>
      </blockquote>
    </div>

    <div class="col-md-7">

	<div align="left">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/uKp09pc5eyY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>

      <p><strong>Watch more Careers YouTube videos.</p>
    </div>
  </div>
</section>
