<nav class="navbar navbar-primary hidden-xs" role="navigation">
  <ul class="nav navbar-nav">
    <li class="first protected" >
      <a href="/advice/topic_advice-and-appointments.html">Advice and appointments</a>
    </li>
    <li> <a href="/options/topic_future-options.html">Explore your options</a>
    </li>
    <li> <a href="/experience/topic_get-work-experience.html">Work experience</a>
    </li>
    <li> <a href="/interviews/topic_interviews.html">Interviews</a>
    </li>
    <li> <a href="/applications/topic_job-applications.html">Job applications & CVs</a>
    </li>
    <li> <a href="/job-searching/topic_job-searching.html">Job searching</a>
    </li>
  </ul>
</nav>
